<div class="panel panel-default">

  <div class="panel-heading" role="tab" id="headingUsager_{{panel_id}}">
    <span style="margin-top: -6px;" ng-if="usager" class="pull-right">
      <span toggle-switch-directive
        ng-model="usager.demandeur"
        left-label="Non"
        knob-label="Demandeur"
        right-label="Oui"
        switch-size="small"
        left-label-color="red"
        is-summarised="true"
        left-value="false"
        right-value="true"
        right-label-color="green">
      </span>

      <span class="btn btn-default" ng-if="deleteButton"
            ng-show="!usager.demandeur && !uDisabled"
            ng-click="deleteMe(usager, typeUsager, indexEnfant)">
        <i class="pull-right fa fa-lg fa-remove"></i>
      </span>
    </span>
    <span class="btn btn-warning pull-right" style="margin-top: -6px;" ng-if="usager.demandeur != origin_usager.demandeur"><i class="pull-right fa fa-lg fa-pencil"></i></span>
    <h4 class="panel-title">

      <img ng-src="{{api_url}}{{usager.photo._links.data}}" height="40px"/>
      <a data-toggle="collapse" href=".collapseUsager_{{panel_id}}"
         aria-expanded="true" aria-controls="">
         {{type_usager_label[typeUsager]}}
        <strong ng-show="usager.nom || usager.prenoms.length > 0  "> -
        <span ng-repeat="prenom in usager.prenoms">{{prenom}} </span> {{usager.nom}}</strong>
      </a>
      <span class="fa fa-spinner fa-1 fa-pulse" ng-show="fpr_spinner"></span>
      <span ng-show="has_fpr_usagers" ng-click="showFPR()" class="btn btn-danger btn-xs">FPR</span>
      <span ng-show="no_fpr" class="btn btn-disconnect btn-xs" style="color: white;">FPR injoignable</span>
    </h4>
  </div>

  <div class="collapseUsager_{{panel_id}} panel-collapse collapse in" role="tabpanel" aria-labelledby="headingUsager_{{panel_id}}">
    <div class="panel-body">

      <div ng-show="!uDisabled && usager.usager_existant && usager.ecv_valide" class="alert alert-warning">
        L'état civil de cet usager est validé par l'OFPRA. Les données correspondantes ne sont plus modifiables.
        <span class="btn btn-default" ng-click="usager.usager_existant = null; usager.identifiant_agdref = undefined; usager.identifiant_portail_agdref = undefined; usager.date_enregistrement_agdref = undefined">Annuler</span>
      </div>

      <div ng-show="!uDisabled && usager.usager_existant && !usager.ecv_valide" class="alert alert-warning">
        Cet usager existe déjà dans le portail.<br />
        Les modifications que vous lui apporterez seront sauvegardées en sauvegardant le recueil.
        <span class="btn btn-default" ng-click="usager.usager_existant = null; usager.identifiant_agdref = undefined; usager.identifiant_portail_agdref = undefined; usager.date_enregistrement_agdref = undefined">Annuler</span>
      </div>

      <div class="col-sm-12">
        <div ng-show="usager.demandeur">
          <select-referential-directive
            model-listener="usager"
            label="'Type de demande *'"
            model="usager.type_demande"
            ref-disabled="uDisabled || PERMISSIONS[user.role].indexOf('modifier_gu-enregistrement') == -1"
            error-model="usager._errors.type_demande"
            url="''"
            choices="selectTypeDemande"
            placeholder="''">
          </select-referential-directive>
          <simple-text-input-directive
            form-label="'Numéro du réexamen *'"
            form-disabled="uDisabled || PERMISSIONS[user.role].indexOf('modifier_gu-enregistrement') == -1"
            form-ng-model="usager.numero_reexamen"
            form-origin="origin_usager.numero_reexamen"
            form-error="usager._errors.numero_reexamen"
            form-placeholder="''"
            ng-show="usager.type_demande == 'REEXAMEN'">
          </simple-text-input-directive>
        </div>

        <div ng-if="usager.identifiant_agdref">
          <simple-text-input-directive
            form_label="'n° étranger'"
            form_icon="'user'"
            form_disabled="true"
            form_ng_model="usager.identifiant_agdref"
            form_origin="origin_usager.identifiant_agdref"
            form_error="usager._errors.identifiant_agdref"
            form_placeholder="''">
          </simple-text-input-directive>
        </div>

        <simple-text-input-directive
          ng-if="usager.identifiant_eurodac"
          form-label="'N° Eurodac'"
          form-icon="'key'"
          form-disabled="true"
          form-ng-model="usager.identifiant_eurodac"
          form-origin="origin_usager.identifiant_eurodac"
          form-placeholder="''">
        </simple-text-input-directive>

        <div ng-if="usager.usager_existant">
          <simple-text-input-directive
            form_label="'Identifiant portail'"
            form_icon="'user'"
            form_disabled="true"
            form_ng_model="usager.usager_existant.id"
            form_origin="origin_usager.usager_existant.id"
            form_error="usager._errors.usager_existant"
            form_placeholder="''">
          </simple-text-input-directive>
        </div>

        <div class="col-sm-12">
          <h3>
            <span class="btn btn-default btn-lg" ng-click="handleShowMoreEC()"><i class="fa fa-{{showMoreECIcon}}"></i> Etat-Civil</span>
          </h3>
        </div>
        <div class="form-group col-sm-12" ng-show="showMoreEC">

          <simple-text-input-directive
            form_label="'Nom *'"
            upper_first_letter="true"
            form_icon="'user'"
            form_disabled="usager.identifiant_agdref || uDisabled || usager.ecv_valide"
            form_ng_model="usager.nom"
            form_origin="origin_usager.nom"
            form_error="usager._errors.nom"
            form_placeholder="''"
            form_popover="'ex: Dupond'">
          </simple-text-input-directive>

          <div ng-show="usager.demandeur">
            <select-referential-directive
              model_listener="usager"
              label="'Origine du nom *'"
              model="usager.origine_nom"
              ref_disabled="usager.identifiant_agdref || uDisabled || usager.ecv_valide"
              icon="'street-view'"
              error_model="usager._errors.origine_nom"
              url="''"
              choices="selectOrigineNom"
              placeholder="''">
            </select-referential-directive>
          </div>

          <simple-text-input-directive
            form_label="'Nom d\'usage'"
            upper_first_letter="true"
            form_icon="'user'"
            form_disabled="uDisabled || usager.ecv_valide"
            form_error="usager._errors.nom_usage"
            form_ng_model="usager.nom_usage"
            form_origin="origin_usager.nom_usage"
            form_placeholder="''"
            form_popover="'ex: Dupond'">
          </simple-text-input-directive>

          <div ng-show="usager.demandeur && usager.nom_usage">
            <select-referential-directive
              model_listener="usager"
              label="'Origine du nom d\'usage *'"
              model="usager.origine_nom_usage"
              ref_disabled="uDisabled || !usager.nom_usage || usager.ecv_valide"
              icon="'street-view'"
              error_model="usager._errors.origine_nom_usage"
              url="''"
              choices="selectOrigineNom"
              placeholder="''">
            </select-referential-directive>
          </div>

          <list-text-input-directive
            label="'Prénom(s) *'"
            upper_first_letter="true"
            model="usager.prenoms"
            error="usager._errors.prenoms"
            icon="'user'"
            u_disabled="usager.identifiant_agdref || uDisabled || usager.ecv_valide"
            placeholder="''"
            origin-model="origin_usager"
            popover_content="'ex: Jean'">
          </list-text-input-directive>


          <div class="form-group" ng-if="usager">
            <label class="label-control">Sexe *</label>
            <span toggle-switch-directive
              ng-model="usager.sexe"
              left-label="M"
              knob-label=""
              right-label="F"
              switch-size="small"
              left-label-color="royalblue"
              is-summarised="uDisabled || usager.ecv_valide || usager.identifiant_agdref"
              right-label-color="red"
              left-value="'M'"
              right-value="'F'">
            </span>

            <div ng-show="usager._errors.sexe" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.sexe}}
            </div>
          </div>
          <!-- Set disabled -->

          <date-text-input-directive
            label="'Date de naissance *'"
            active="!usager.identifiant_agdref && !uDisabled && !usager.ecv_valide"
            model="usager.date_naissance"
            origin_model="origin_usager.date_naissance"
            error="usager._errors.date_naissance"
            approximative="true"
            approximative_model="usager.date_naissance_approximative"
            popover_content="'ex: 15/01/1980'">
          </date-text-input-directive>

          <div class="col-sm-12" ng-if="minor_child && usager.demandeur">
            <h4>Profil de demande *</h4>
            <span class="form-control" ng-disabled="true" ng-show="profilDemande == 'MINEUR_ACCOMPAGNANT'">Mineur accompagnant</span>
            <span class="form-control" ng-disabled="true" ng-show="profilDemande == 'MINEUR_ISOLE'">Mineur isolé</span>

            <h4>Représentant légal</h4>
            <div class="form-group" ng-if="usager">
              <label class="label-control">Personne morale ? *</label>
              <br />
              <span toggle-switch-directive
                ng-model="usager.representant_legal_personne_morale"
                left-label="Oui"
                knob-label=""
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
            </div>

            <simple-text-input-directive
              form_label="'Nom du représentant *'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_origin="origin_usager.representant_legal_nom"
              form_error="usager._errors.representant_legal_nom"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_nom"
              form_placeholder="''"
              form_popover="'ex: Dupond'"
              form_hide="usager.representant_legal_personne_morale">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Prénom du représentant *'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_origin="origin_usager.representant_legal_prenom"
              form_error="usager._errors.representant_legal_prenom"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_prenom"
              form_placeholder="''"
              form_popover="'ex: Louis'"
              form_hide="usager.representant_legal_personne_morale">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Désignation de la personne morale *'"
              form_disabled="uDisabled"
              form_hide="!usager.representant_legal_personne_morale"
              form_origin="origin_usager.representant_legal_personne_morale_designation"
              form_error="usager._errors.representant_legal_personne_morale_designation"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_personne_morale_designation"
              form_placeholder="''">
            </simple-text-input-directive>
            <hr align="left" />
          </div>

          <select-referential-directive
            model_listener="usager"
            label="'Nationalité *'"
            model="usager.nationalites"
            icon="'flag'"
            multi_one="true"
            ref_disabled="usager.identifiant_agdref || uDisabled || usager.ecv_valide"
            url="'referentiels/nationalites'"
            placeholder="''"
            error_model="usager._errors.nationalites">
          </select-referential-directive>
        </div>

        <div class="form-group col-sm-12" ng-if="usager.demandeur">
          <h3>Informations de procédure</h3>
          <hr align="left">
          <div class="form-group">
            <label class="label-control">Décision sur délivrance de l'attestation *</label>
            <br>
            <span toggle-switch-directive
              ng-model="usager.decision_sur_attestation"
              left-label="Oui"
              knob-label=""
              right-label="Non"
              switch-size="small"
              left-label-color="royalblue"
              is-summarised="true"
              right-label-color="red">
            </span>
            <div ng-show="usager._errors.decision_sur_attestation" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.decision_sur_attestation}}
            </div>
          </div>

          <div class="thumbnail">
            <div ng-show="usager.decision_sur_attestation">
              <date-text-input-directive
                label="'Date de décision sur délivrance de l\'attestation *'"
                active="!uDisabled"
                model="usager.date_decision_sur_attestation"
                origin_model="origin_usager.date_decision_sur_attestation"
                error="usager._errors.date_decision_sur_attestation"
                approximative="false"
                popover_content="'ex: 15/01/1980'"
                today>
              </date-text-input-directive>
            </div>

            <div ng-show="!usager.decision_sur_attestation">
              <select-referential-directive
                model-listener="usager"
                label="'Motif de non-délivrance de l\'attestation *'"
                model="usager.refus.motif"
                ref-disabled="true"
                icon="'tag'"
                error-model="usager._errors.refus.motif"
                choices="selectMotifRefus">
              </select-referential-directive>

              <date-text-input-directive
                label="'Date de notification *'"
                active="!uDisabled"
                model="usager.refus.date_notification"
                origin-model="origin_usager.refus.date_notification"
                error="usager._errors.refus.date_notification"
                approximative="false"
                popover-content="'ex: 15/01/1980'">
              </date-text-input-directive>
            </div>

            <select-referential-directive
              model_listener="usager"
              label="'Type de procédure *'"
              model="usager.type_procedure"
              ref_disabled="uDisabled"
              icon="'tag'"
              error_model="usager._errors.type_procedure"
              choices="selectTypeProcedure"
              placeholder="''">
            </select-referential-directive>

            <select-referential-directive
              model_listener="usager"
              label="'Motif de qualification *'"
              model="usager.motif_qualification_procedure"
              ref_disabled="uDisabled"
              icon="'tag'"
              error_model="usager._errors.motif_qualification_procedure"
              choices="selectMotifQualification"
              placeholder="''">
            </select-referential-directive>
          </div>

          <select-referential-directive
            model-listener="usager"
            label="'Condition d\'entrée en France *'"
            model="usager.condition_entree_france"
            ref-disabled="uDisabled"
            icon=""
            error-model="usager._errors.condition_entree_france"
            choices="conditionEntreeFrance"
            placeholder="''">
          </select-referential-directive>

          <div class="form-group">
            <label class="label-control">Visa *</label>
            <select ng-disabled="uDisabled" ng-model="usager.visa" class="form-control">
              <option selected="selected" value="AUCUN">Aucun visa</option>
              <option value="C">Visa C</option>
              <option value="D">Visa D</option>
            </select><br />
            <span ng-show="usager._errors.visa" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.visa}}
            </span>
          </div>

          <div class="form-group">
            <label class="label-control">Conditions exceptionnelles d'accueil *</label>
            <span toggle-switch-directive
              ng-model="usager.conditions_exceptionnelles_accueil"
              left-label="Non"
              knob-label=""
              right-label="Oui"
              switch-size="small"
              left-label-color="red"
              is-summarised="uDisabled"
              left-value="false"
              right-value="true"
              right-label-color="green">
            </span>
            <div ng-show="usager._errors.conditions_exceptionnelles_accueil" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{usager._errors.conditions_exceptionnelles_accueil}}
            </div>
          </div>
          <select-referential-directive
            model-listener="usager"
            label="'Motif conditions exceptionnelles d\'accueil *'"
            model="usager.motif_conditions_exceptionnelles_accueil"
            ref-disabled="uDisabled"
            icon=""
            error-model="usager._errors.motif_conditions_exceptionnelles_accueil"
            choices="motifsConditionsExceptionnellesAccueil"
            placeholder="''"
            ng-show="usager.conditions_exceptionnelles_accueil">
          </select-referential-directive>

        </div>

        <div class="col-sm-12">
          <h3>
            <span class="btn btn-default btn-lg" ng-click="handleShowMore()"><i class="fa fa-{{showMoreIcon}}"></i> Informations complémentaires</span>
          </h3>
        </div>
        <div class="form-group col-sm-12" ng-show="showMore">
          <hr align="left" />
          <div ng-show="usager._errors.usager_info" class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.usager_info}}
          </div>

          <div ng-hide="!usager.demandeur">
            <date-text-input-directive
              label="'Date d\'arrivée en France *'"
              active="!uDisabled"
              model="usager.date_entree_en_france"
              origin_model="origin_usager.date_entree_en_france"
              error="usager._errors.date_entree_en_france"
              approximative="true"
              approximative_model="usager.date_entree_en_france_approximative"
              popover_content="'ex: 15/01/1980'">
            </date-text-input-directive>

            <date-text-input-directive
              label="'Date de départ du pays d\'origine *'"
              active="!uDisabled"
              model="usager.date_depart"
              origin_model="origin_usager.date_depart"
              error="usager._errors.date_depart"
              approximative="true"
              approximative_model="usager.date_depart_approximative"
              popover_content="'ex: 15/01/1980'">
            </date-text-input-directive>

            <array-input-directive
              label="'Pays traversés'"
              u-disabled="uDisabled"
              model="usager.pays_traverses"
              origin_model="origin_usager.pays_traverses"
              error="usager._errors.pays_traverses">
            </array-input-directive>
            <span class="btn btn-primary"
                  ng-show="!uDisabled && paysTraversesReference1 != null"
                  ng-click="usePaysTraversesReference1()"
                  style="margin-bottom: 1em;">
              Récupérer les pays traversés depuis l'usager 1
            </span>
            <span class="btn btn-primary"
                  ng-show="!uDisabled && paysTraversesReference2 != null"
                  ng-click="usePaysTraversesReference2()"
                  style="margin-bottom: 1em;">
              Récupérer les pays traversés depuis l'usager 2
            </span>
          </div>

          <div class="form-group" ng-if="usager && showMore && !usager.demandeur" ng-shadow="usager.present_au_moment_de_la_demande">
            <label class="label-control">Présent au moment de la demande</label><br />
            <span toggle-switch-directive
              ng-model="usager.present_au_moment_de_la_demande"
              left-label="Oui"
              knob-label=""
              right-label="Non"
              switch-size="small"
              left-label-color="green"
              is-summarised="uDisabled"
              right-label-color="red">
            </span>
          </div>
          <div class="form-group">
            <label class="label-icon">Mobilité réduite</label>
            <span toggle-switch-directive
                ng-model="usager.vulnerabilite.mobilite_reduite"
                knob-label=""
                switch-size="small"
                left-label-color="red"
                is-summarised="uDisabled"
                right-label-color="green"
                left-label="Oui"
                right-label="Non"
                left-value="true"
                right-value="false">
            </span>
            <div ng-show="usager._errors.vulnerabilite"
                 class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{usager._errors.vulnerabilite}}
            </div>
          </div>

          <photo-directive ng-hide="!usager.demandeur"
            photo-label="'Photo *'"
            photo-origin="origin_usager.photo"
            usager="usager"
            photo="usager.photo"
            photo-disabled="uDisabled || usager.ecv_valide"
            photo-error="usager._errors.photo || usager._errors.photo_premier_accueil"
            error-message-if-not-camera="'La prise de photo par webcam est obligatoire.'">
          </photo-directive>

          <simple-text-input-directive
            form_label="'Ville de naissance *'"
            extend_icon="true"
            form_disabled="uDisabled || usager.ecv_valide"
            form_icon="'map-marker'"
            form_error="usager._errors.ville_naissance"
            form_origin="origin_usager.ville_naissance"
            form_ng_model="usager.ville_naissance"
            form_placeholder="''"
            form_popover="'ex: Moscou'">
          </simple-text-input-directive>

          <select-referential-directive
            model_listener="usager"
            label="'Pays de naissance *'"
            model="usager.pays_naissance"
            icon="'map-marker'"
            error_model="usager._errors.pays_naissance"
            url="'referentiels/pays'"
            placeholder="''"
            ref_disabled="uDisabled || usager.ecv_valide">
          </select-referential-directive>

          <div class="form-group" style="z-index: 30" ng-if="!(typeUsager == 'usager2')">
            <select-referential-directive
              model_listener="origin_usager.situation_familiale"
              label="'Situation familiale *'"
              model="usager.situation_familiale"
              icon="'street-view'"
              ref_disabled="uDisabled || usager.ecv_valide"
              error_model="usager._errors.situation_familiale"
              choices="situation_familiale"
              placeholder="''">
            </select-referential-directive>
          </div>

          <div ng-hide="!usager.demandeur">
            <select-referential-directive
              ref_disabled="uDisabled"
              model_listener="usager"
              label="'Langue(s) comprise(s) *'"
              model="usager.langues"
              several="true"
              icon="'language'"
              error_model="usager._errors.langues"
              url="'referentiels/langues_iso639_2'"
              placeholder="''">
            </select-referential-directive>

            <select-referential-directive
              ref_disabled="uDisabled"
              model_listener="usager"
              label="'Langue d\'audition à l\'OFPRA *'"
              model="usager.langues_audition_OFPRA"
              multi_one="true"
              icon="'language'"
              error_model="usager._errors.langues_audition_OFPRA"
              url="'referentiels/langues_OFPRA'"
              placeholder="''">
            </select-referential-directive>
          </div>
          <hr align="left" />


          <div style="z-index: 1;">
            <div ng-hide="!usager.demandeur">
              <simple-text-input-directive
                form_label="'Nom du père'"
                upper_first_letter="true"
                form_icon="'user'"
                form_origin="origin_usager.nom_pere"
                form_ng_model="usager.nom_pere"
                form-error="usager._errors.nom_pere"
                form_placeholder="''"
                form_disabled="uDisabled"
                form_popover="'ex: Dupond'">
              </simple-text-input-directive>
              <simple-text-input-directive
                form_disabled="uDisabled"
                form_label="'Prénom du père'"
                upper_first_letter="true"
                form_icon="'user'"
                form_ng_model="usager.prenom_pere"
                form-error="usager._errors.prenom_pere"
                form_origin="origin_usager.prenom_pere"
                form_placeholder="''"
                form_popover="'ex: Louis'">
              </simple-text-input-directive>
              <simple-text-input-directive
                form_disabled="uDisabled"
                form_label="'Nom de la mère'"
                upper_first_letter="true"
                form_icon="'user'"
                form_ng_model="usager.nom_mere"
                form-error="usager._errors.nom_mere"
                form_placeholder="''"
                form_origin="origin_usager.nom_mere"
                form_popover="'ex: Dupont'">
              </simple-text-input-directive>
              <simple-text-input-directive
                form_disabled="uDisabled"
                form_label="'Prénom de la mère'"
                upper_first_letter="true"
                form_icon="'user'"
                form_ng_model="usager.prenom_mere"
                form-error="usager._errors.prenom_mere"
                form_placeholder="''"
                form_origin="origin_usager.prenom_mere"
                form_popover="'ex: Louise'">
              </simple-text-input-directive>
            </div>
          </div>

          <div class="form-group" ng-if="typeUsager=='enfant' && usager && !usager.ecv_valide">
            <label class="label-control">Enfant de l'usager 1</label><br />
            <span toggle-switch-directive
              ng-model="usager.usager_1"
              left-label="Oui"
              knob-label=""
              right-label="Non"
              switch-size="small"
              left-label-color="green"
              is-summarised="uDisabled"
              right-label-color="red">
            </span>
          </div>
          <div class="form-group" ng-if="typeUsager=='enfant' && usager && !usager.ecv_valide">
            <label class="label-control">Enfant de l'usager 2</label><br />
            <span toggle-switch-directive
              ng-model="usager.usager_2"
              left-label="Oui"
              knob-label=""
              right-label="Non"
              switch-size="small"
              left-label-color="green"
              is-summarised="uDisabled"
              right-label-color="red">
            </span>
          </div>

          <div ng-hide="!usager.demandeur">
            <simple-text-input-directive
              form_label="'Téléphone'"
              form_icon="'phone'"
              form_ng_model="usager.telephone"
              form_disabled="uDisabled"
              form_error="usager._errors.telephone"
              form_placeholder="''"
              maxlength="22"
              form_popover="'ex: 01 22 33 44 55'">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Email'"
              form_icon="'at'"
              form_disabled="uDisabled"
              form_error="usager._errors.email"
              form_ng_model="usager.email"
              form_placeholder="''"
              form_popover="'ex: jean.dupond@gmail.com'">
            </simple-text-input-directive>
          </div>

          <div class="col-sm-12">
            <br />
            <div class="form-group col-sm-11">
              <h3>
                Adresse *
              </h3>
              <span class="btn btn-primary" ng-show="adresseReference != null && !usager.ecv_valide" ng-click="useAdresseReference()">Récupérer l'adresse depuis l'usager 1</span>
              <br /><br />
              <input-location-directive
                location="usager.adresse"
                u_disabled="uDisabled">
              </input-location-directive>

              <span ng-show="usager._errors.adresse" class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.adresse}}
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
