<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar">
        <sc-button class="btn btn-danger pull-right"
                   ng-click="updateRdv()"
                   wait-for-class="fa fa-spinner fa-1 fa-pulse"
                   cancel-wait-for="cancelRdv"
                   ng-show="(newRdv.length == 0 && hasRdv) && user.role != 'SUPPORT_NATIONAL'"
                   label="'Annuler le rendez-vous'">
        </sc-button>
        <sc-button class="btn btn-primary pull-right"
                   ng-click="updateRdv()"
                   wait-for-class="fa fa-spinner fa-1 fa-pulse"
                   cancel-wait-for="saveDone"
                   ng-show="(newRdv.length > 0 || !hasRdv) && user.role != 'SUPPORT_NATIONAL'"
                   label="'Prendre un nouveau rendez-vous'">
        </sc-button>
        <a href="#/gu-enregistrement/{{recueil_da.id}}" class="btn btn-primary pull-right">
          Revenir au recueil
        </a>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">
      <div class="container">
        <h3>Recueil n°{{recueil_da.id}} - <i>Gestion du rendez-vous</i></h3>
        <hr align="left" />
        <div class="alert alert-danger" ng-show="errors" ng-repeat="(key, error) in errors track by key">
          {{ error }}
        </div>
        <div class="form-group" ng-show="user.role != 'SUPPORT_NATIONAL'">
          <label class="label-control">Motif de modification du rendez-vous *</label>
          <select ng-model="motif" class="form-control">
            <option value=""></option>
            <option value="ECHEC_PRISE_EMPREINTES">Echec prise d'empreintes</option>
            <option value="DOSSIER_A_COMPLETER">Dossier à compléter</option>
            <option value="ATTENTE_REPONSE_DUBLIN">En attente réponse EM Dublin</option>
            <option value="ATTENTE_RETOUR_SIRENE_FRANCE">En attente du retour SIRENE France</option>
            <option value="RETARD_DEMANDEUR">Retard du demandeur</option>
          </select>
        </div>
        <br />

        <div ng-show="progressbarInfos.show">
          <h3>
            Chargement des créneaux à afficher sur la plage de rendez-vous.
          </h3><br />
          <progressbar class="progress-striped active" value="progressbarInfos.value">
            <span style="color:white; white-space:nowrap;">
              {{progressbarInfos.value}}%
            </span>
          </progressbar>
        </div>

        <div>
          <h4>Pour reprendre un rendez-vous sélectionnez un ou deux créneaux consécutifs - <i>Pour annuler un créneau, sélectionnez-le à nouveau</i></h4>
          <div style="height: 100%">
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="plages">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
