<div class="modal-body">
  <h4>
    Plage horaire du <strong>{{event.start  | xinDate: 'medium' }}</strong>
    au <strong>{{event.end | xinDate: 'medium'}}
  </h4>
  <hr>

  <div>
    <label class="label-control">Nombre d'agents disponibles</label>
    <input type="number" min="1" class="form-control" ng-model="plage_guichets" ng-disabled="validation">
    <label class="label-control">Durée d'un créneau (minutes)</label>
    <input type="number" min="10" class="form-control" ng-model="duree_creneau" ng-disabled="validation">
    <label class="label-control">Marge (minutes)</label>
    <input type="number" min="0" class="form-control" ng-model="marge" ng-disabled="validation">
    <label class="label-control">Marge initiale ?</label>
    <input type="checkbox" ng-model="marge_initiale" ng-show="!validation">
    <span ng-show="validation">{{marge_initiale ? 'Oui' : 'Non'}}</span>
  </div>

  <div class="alert alert-danger" ng-show="_error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{_error}}
  </div>
  <div class="alert alert-danger" ng-show="validation">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Des créneaux de rendez-vous vont être créés conformément aux informations renseignées ci-dessus.
    <br>Etes-vous sûr de vouloir continuer ?
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default" ng-click="cancel()">Annuler</a>
  <a class="btn btn-danger go-to-resource" ng-click="deletePlage()" ng-show="!validation">
    Supprimer la plage
  </a>
  <a class="btn btn-primary" ng-click="ok()">{{ok_button_label}}</a>
</div>
