<div class="modal-body">
  <h4>Appliquer le modèle {{modeleType}} sur une période</h4>
  <hr>

  <div>
    <date-text-input-directive
      label="'Début de période'"
      active="!validation"
      model="begin"
      origin_model="begin">
    </date-text-input-directive>

    <date-text-input-directive
      label="'Fin de période'"
      active="!validation"
      model="end"
      origin_model="end">
    </date-text-input-directive>

    <div ng-show="modeleType == 'QUOTIDIEN'">
      <label class="control-label">Appliqué à lundi</label>
      <input type="checkbox" ng-model="monday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à mardi</label>
      <input type="checkbox" ng-model="tuesday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à mercredi</label>
      <input type="checkbox" ng-model="wednesday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à jeudi</label>
      <input type="checkbox" ng-model="thursday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à vendredi</label>
      <input type="checkbox" ng-model="friday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à samedi</label>
      <input type="checkbox" ng-model="saturday" ng-disabled="validation">
      <br>
      <label class="control-label">Appliqué à dimanche</label>
      <input type="checkbox" ng-model="sunday" ng-disabled="validation">
    </div>

    <div class="text-center">
      <label>Modèle:</label> {{libelle}}
    </div>

    <plage-rdv-pf-directive calendar-cls="calendar"></plage-rdv-pf-directive>
  </div>

  <div class="alert alert-danger" ng-show="_error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{_error}}
  </div>

  <div class="alert alert-danger" ng-show="validation">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Des créneaux de rendez-vous existent déjà dans la période sélectionnée.
    <br>Etes-vous sûr de vouloir appliquer le modèle ?
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default" ng-click="cancel()">Annuler</a>
  <sc-button class="btn btn-primary"
             ng-click="ok()"
             label="button_label"
             wait-for-class="fa fa-spinner fa-1 fa-pulse"
             cancel-wait-for="applyDone">
  </sc-button>
</div>
