<div class="modal-body">
  <h4>
    Plage horaire du <strong>{{event.start  | xinDate: 'medium' }}</strong>
    au <strong>{{event.end | xinDate: 'medium'}}</strong>
  </h4>
  <hr>

  <div>
    <label class="label-control">Nombre d'agents disponibles</label>
    <input type="number" class="form-control" ng-model="plage_guichets" disabled>
    <label class="label-control">Durée d'un créneau (minutes)</label>
    <input type="number" class="form-control" ng-model="duree_creneau" disabled>
    <label class="label-control">Marge (minutes)</label>
    <input type="number" class="form-control" ng-model="marge" disabled>
    <label class="label-control">Marge initiale ?</label>
    <span>{{marge_initiale ? 'Oui' : 'Non'}}</span>
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default" ng-click="cancel()">Fermer</a>
</div>
