<div class="modal-body">
  <h4>Paramétrage du site</h4>
  <hr>

  <div>
    <label class="label-control">
      Interdire la prise de rendez-vous au-delà du délai de <input type="text" size="2" maxlength="2" ng-model="limite_rdv_jrs"> jours.
      <br>
      (0 = donne accès aux 3 prochains jours qui disposent de créneaux de rendez-vous libres)
    </label>
  </div>
  <div class="alert alert-danger" ng-show="_error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{_error}}
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default go-to-list" ng-click="cancel()">Annuler</a>
  <a class="btn btn-primary go-to-resource" ng-click="configureSite()">Valider</a>
</div>
