<div class="modal-body">

  <div ng-show="_errors.localisation" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{_errors.localisation}}
  </div>

  <div ng-show="etat == 'form'">
    <input-location-directive location="localisation.adresse">
    </input-location-directive>
  </div>

  <div ng-show="etat == 'confirm'">
    <p>Valider l'adresse ?</p>
  </div>

  <div ng-show="etat == 'success'">
    L'adresse a bien été sauvegardée.
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-primary button-confirm" ng-click="ok()" ng-show="etat == 'form'">Valider</a>
  <a class="btn btn-primary button-confirm" ng-click="confirm()" ng-show="etat == 'confirm'">Valider</a>
  <a class="btn btn-primary button-confirm" ng-click="success()" ng-show="etat == 'success'">Valider</a>
  <a class="btn btn-default button-cancel" ng-click="cancel()" ng-show="etat != 'success'">Annuler</a>
</div>
