<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar" ng-if="recueil_da.statut != 'ANNULE'">
        <sc-button
          class="btn btn-primary pull-right"
          ng-click="saveRecueil()"
          ng-if="!recueil_da.rendez_vous_gu && (canModifierRecueil || canCreerRecueil)"
          wait-for-class="fa fa-spinner fa-1 fa-pulse"
          cancel-wait-for="saveDone"
          label="'Sauvegarder'">
        </sc-button>
        <sc-button
          ng-if="(recueil_da.id && !recueil_da.rendez_vous_gu) && user.role != 'SUPPORT_NATIONAL'"
          class="btn btn-danger pull-right"
          ng-click="validateRecueil()"
          wait-for-class="fa fa-spinner fa-1 fa-pulse"
          cancel-wait-for="rdvDone"
          ng-disabled=""
          label="'Sauvegarder et prendre un rendez-vous'">
        </sc-button>
        <sc-button
          ng-if="recueil_da.id && recueil_da.rendez_vous_gu"
          class="btn btn-success pull-right"
          ng-click="printRecueil()"
          wait-for-class="fa fa-spinner fa-1 fa-pulse"
          cancel-wait-for="pdfDone"
          label="'Télécharger le recueil'"
          label-class="'fa fa-print'">
        </sc-button>
        <a
          href="#/premier-accueil/{{recueil_da.id}}/rendez-vous"
          ng-if="recueil_da.id && recueil_da.rendez_vous_gu"
          class="btn btn-primary pull-right"
          ng-disabled="">
          Voir le rendez-vous
        </a>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">
      <div class="container">
        <div>
          <h3>
            <span ng-if="!recueil_da.id">Nouveau recueil</span>
            <span ng-if="recueil_da.id">Recueil n°{{recueil_da.id}}</span>
          </h3>
        </div>

        <ul class="alert alert-danger" ng-show="errors._errors.length">
          <li ng-repeat="(key, error) in errors._errors track by key" style="margin-left: 1em;">
            {{ error }}
          </li>
        </ul>
        <div class="form-group col-sm-12 thumbnail">
          <div class="col-sm-6">
            <label class="label-control">Profil de demande</label>
            <input type="text" disabled="disabled" ng-value="profil_demande[recueil_da.profil_demande]" class="form-control" />
          </div>
          <div class="col-sm-6">
            <label class="label-control">Statut du recueil</label>
            <input type="text" disabled="disabled" ng-value="recueil_statut[statut]"
                   class="form-control">
          </div>
        </div>
        <div class="col-sm-12"></div>
        <div class="clearfix"></div>

        <button type="button" class="btn btn-primary" ng-show="hideUsagers" ng-click="hideUsagers = !hideUsagers">
          <span class="glyphicon glyphicon-collapse-down"></span> Agrandir
        </button>
        <button type="button" class="btn btn-primary" ng-show="!hideUsagers" ng-click="hideUsagers = !hideUsagers">
          <span class="glyphicon glyphicon-collapse-up"></span> Réduire
        </button>
        <div class="col-sm-12"></div>
        <br /><br />
        <div class="clearfix"></div>

        <usager-directive
          type_usager="type_usager_1"
          usager="usager_1"
          u_disabled="(statut != 'BROUILLON' && statut != '') || user.role == 'SUPPORT_NATIONAL'"
          adresse_reference="null"
          pays-traverses-reference2="usager_2.pays_traverses"
          delete_button="false"
          is_collapsed="hideUsagers">
        </usager-directive>

        <span class="btn btn-primary pull-right"
              ng-show="usager_2.inactive && (statut == 'BROUILLON' || statut == '') && user.role != 'SUPPORT_NATIONAL'"
              ng-click="displayUsager2()">
          Ajouter un second usager
        </span>
        <div class="clearfix"></div>
        <br />
        <div class="clearfix"></div>

        <div class="form-group" ng-repeat="usager_2 in [usager_2]">
          <usager-directive
            ng-show="!usager_2.inactive"
            type_usager="type_usager_2"
            u_disabled="(statut != 'BROUILLON' && statut != '') || user.role == 'SUPPORT_NATIONAL'"
            usager="usager_2"
            adresse_reference="usager_1.adresse"
            pays-traverses-reference1="usager_1.pays_traverses"
            delete_button="true"
            is_collapsed="hideUsagers">
          </usager-directive>
        </div>

        <div class="form-group" ng-repeat="enfant in enfants">
          <usager-directive
            edit_location="edit_location"
            ng-show="!enfant.inactive"
            u_disabled="(statut != 'BROUILLON' && statut != '') || user.role == 'SUPPORT_NATIONAL'"
            type_usager="type_enfant"
            usager="enfant"
            adresse_reference="usager_1.adresse"
            pays-traverses-reference1="usager_1.pays_traverses"
            pays-traverses-reference2="usager_2.pays_traverses"
            delete_button="true"
            is_collapsed="hideUsagers">
          </usager-directive>
        </div>
        <span class="btn btn-primary pull-right" ng-click="addChild()"
              ng-show="(statut == 'BROUILLON' || statut == '') && user.role != 'SUPPORT_NATIONAL'"
              style="margin-right:5px;">
          Ajouter un enfant
        </span>
        <br /><br /><br />
      </div>
    </div>
  </div>
</div>
