<div class="form-group" style="z-index: 200;">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>
  <div ng-show="choosen.length > 0" class="form-group"
       ng-repeat="(key, referential) in choosen track by key">
    <div class="input-group" ng-show="referential">
      <div class="input-group-addon"><i class="fa fa-lg fa-{{icon}}"></i></div>
      <span elastic class="form-control" disabled="disabled" value="referential.libelle">
        {{ referential.libelle }}
      </span>
      <div class="input-group-addon alert-danger" ng-show="!refDisabled">
        <a href="" ng-click="deleteReferential(key)"><i class="fa fa-lg fa-close"></i></a>
      </div>
    </div>
  </div>

  <div class="input-group" style="z-index: 40;"
       ng-show="(several == true || choosen[0] == null) && !refDisabled">
    <div class="input-group-addon">
      <i class="fa fa-lg fa-{{icon}}"></i>
    </div>
    <input ng-disabled="refDisabled" ng-focus="referentialInputFocus()"
           type="search" class="form-control col-sm-6" ng-model="referentialSearch"
           placeholder="{{placeholder}}" style="z-index:4"  />
    <span ng-if="referentialsDisplay" ng-click="referentialInputBlur()" class="btn btn-default input-group-addon"><i class="fa fa-lg fa-times"></i></span>
  </div>
  <div ng-show="errorModel" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{errorModel}}
  </div>

  <div ng-show="referentialsDisplay" class="col-sm-12 list-group dropdown"
       style="height: 300px; overflow: auto; position: absolute;z-index: 100;">
    <a href="" class="list-group-item"
       ng-repeat="searchReferential in searchReferentials">
      <div ng-click="clickReferential(searchReferential)">{{searchReferential.libelle}}</div>
    </a>
    <a href="" class="list-group-item" ng-show="searchReferentials.length == 0">
      <div class="alert alert-danger"><strong><i>Aucun résultat trouvé</i></strong></div>
    </a>
    <a href="" class="list-group-item" ng-if="url && referentials && referentials._links.next">
      <span class="btn btn-default" ng-click="loadMoreReferentials()">Afficher plus...</span>
    </a>
  </div>
</div>
