<div class="actionbar container affix">
    <div class="row">
        <div class="col-md-2">
            <navigationbar-directive></navigationbar-directive>
        </div>
        <div class="col-md-10">
          <div class="buttonbar" ng-init="haveFilters = false">
            <a class="btn btn-primary pull-right" ng-show="!avancedFilters" ng-click="avancedFilters = true">
              <i class="glyphicon glyphicon-filter" ng-show="haveFilters"></i><strong>Afficher la recherche avancée</strong>
            </a>
            <a class="btn btn-primary pull-right" ng-show="avancedFilters" ng-click="avancedFilters = false"><strong>Cacher la recherche avancée</strong></a>
          </div>
        </div>
    </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
      <div class="list-group sidebar">
      </div>
    </div>
    <div class="col-md-10 right-content">

      <div class="container">

        <div solr-filters-directive lookup="lookup" json="demande_asile" avanced-filters="avancedFilters" have-filters="haveFilters"></div>

        <list-resource-directive resource-backend="resourceBackend" complement="complement"
                                 custom-update-resources-list="updateResourcesList"
                                 lookup="lookup" links="links" others="others">
          <div class="well-list" ng-mouseover="showPopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/attestations/{{resource.id}}">
                <i class="fa fa-4x fa-print"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a href="#/attestations/{{resource.id}}">
                    Demande d'asile n°{{resource.id}}
                  </a>
                </strong>
              </div>
              <div class="col-sm-12">
                <strong>
                  {{complement.usagers[resource.usager.id].prenoms[0]}} {{complement.usagers[resource.usager.id].nom}}
                </strong>
              </div>
              <div class="col-sm-12">
                {{(TYPE_DEMANDE | filter: {id: resource.type_demande})[0].libelle}}
              </div>
              <div class="col-sm-12">
                {{resource.procedure.type}}
              </div>
            </div>
          </div>
          <div class="popover-list" ng-show="popoverIsVisible[resource.id]" ng-mouseleave="hidePopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/attestations/{{resource.id}}">
                <i class="fa fa-4x fa-print"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a href="#/attestations/{{resource.id}}">
                    Demande d'asile n°{{resource.id}}
                  </a>
                </strong>
              </div>
              <div class="col-sm-12">
                <strong>
                  {{complement.usagers[resource.usager.id].prenoms[0]}} {{complement.usagers[resource.usager.id].nom}}
                </strong>
              </div>
              <div class="col-sm-12">
                {{(TYPE_DEMANDE | filter: {id: resource.type_demande})[0].libelle}}
              </div>
              <div class="col-sm-12">
                {{resource.procedure.type}}
              </div>
            </div>
          </div>
        </list-resource-directive>
      </div>
    </div>
  </div>
</div>
