<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar">
        <sc-button class="save-user btn btn-primary pull-right"
                   ng-click="saveParametrage()"
                   wait-for-class="fa fa-spinner fa-1 fa-pulse"
                   cancel-wait-for="saveDone"
                   label="'Sauvegarder'">
        </sc-button>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">

      <div class="container">
        <form class="simple-form" novalidate name="userForm" ng-submit="saveUser()">

          <div class="alert" role="alert" ng-show="info.show">
            {{ info.message }}
          </div>
          <div class="alert alert-danger" ng-show="_errors">
            {{ _errors.text }}
          </div>

          <h1>Paramétrage</h1>
          <hr align="center" />
          <h3>Durée de validité de l'attestation</h3>
          <table border="2" class="table" cellspacing="0">
            <thead>
              <th>Type d'attestation</th>
              <th>Procédure</th>
              <th>An</th>
              <th>Mois</th>
              <th>Jour</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="5">
                </td>
              </tr>
              <tr>
                <td rowspan="3">
                  PREMIERE DELIVRANCE
                </td>
                <td>NORMALE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.normale.an"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.normale.mois"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.normale.jour"/>
                </td>
              </tr>
              <tr>
                <td>ACCELEREE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.acceleree.an"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.acceleree.mois"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.acceleree.jour"/>
                </td>
              </tr>
              <tr>
                <td>DUBLIN</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.dublin.an"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.dublin.mois"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premiere_delivrance.dublin.jour"/>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                </td>
              </tr>
              <tr>
                <td rowspan="3">
                  PREMIER RENOUVELLEMENT
                </td>
                <td>NORMALE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.normale.an"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.normale.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.normale.jour" />
                </td>
              </tr>
              <tr>
                <td>ACCELEREE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.acceleree.an"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.acceleree.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.acceleree.jour" />
                </td>
              </tr>
              <tr>
                <td>DUBLIN</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.dublin.an" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.dublin.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.premier_renouvellement.dublin.jour" />
                </td>
              </tr>
              <tr>
                <td colspan="5">
                </td>
              </tr>
              <tr>
                <td rowspan="3">
                  EN RENOUVELLEMENT
                </td>
                <td>NORMALE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.normale.an" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.normale.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.normale.jour" />
                </td>
              </tr>
              <tr>
                <td>ACCELEREE</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.acceleree.an" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.acceleree.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.acceleree.jour" />
                </td>
              </tr>
              <tr>
                <td>DUBLIN</td>
                <td>
                  <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.dublin.an" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.dublin.mois" />
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="parametrage.duree_attestation.en_renouvellement.dublin.jour" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
