<nav id="navbar" class="affix navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='#/' style="margin: 0px; padding: 0px;">
        <img src="images/le.png" alt="le.png" style="height: 71px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <p class="navbar-text">
        <!-- a glyphicon as homepage -->
        <a class="navbar-link" href="#/" title="homepage">
          <i class="fa fa-lg fa-home"></i>
        </a>
        <x ng-repeat="breadcrumb in breadcrumbs">
          &nbsp;>&nbsp;&nbsp;
          <a ng-if="!$last" ng-href="{{breadcrumb[1]}}" class="navbar-link">{{breadcrumb[0]}}</a>
          <t ng-if="$last">{{breadcrumb[0]}}</t>
        </x>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="user-status dropdown-toggle" data-toggle="dropdown"
             role="button" aria-expanded="false">
            <b>{{user.prenom}} {{user.nom}}</b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="button-logout" ng-click="apropos()">À propos</a></li>
            <li><a class="button-profile" href="#/profil">Profil</a></li>
            <li><a class="button-logout" ng-if="getNumberActiveAccreditations() > 1" ng-click="openModalToChangeHabilitations()">Habilitations</a></li>
            <li ng-if="featureFlipping.menu_aide"><a class="button-aide" href="#/aide">Aide</a></li>
            <li><a class="button-logout" ng-click="logout()">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class="text-right">
      <span>{{user.libelle_role}} <span ng-if="user.libelle_site_affecte"> | {{user.libelle_site_affecte}}</span></span>
    </div>
  </div><!-- /.container-fluid -->
</nav>
