<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container row">
  <div class="col-sm-10 col-sm-offset-2 rgaa-page margin-bottom">
    <h1>Remise de titres</h1>

    <p id="mandatory-text">Le symbole * indique les champs obligatoires.</p>

    <div class="row">
      <div class="col-sm-4">
        <simple-text-input-directive
          form-label="'Numéro Étranger *'"
          form-icon=""
          form-disabled="true"
          form-ng-model="usager.identifiant_agdref"
          form-origin="usager.identifiant_agdref"
          form-error="">
        </simple-text-input-directive>
      </div>
      <div class="col-sm-2">
        <button class="btn"
                ng-class="(usager)? 'btn-success': 'btn-primary'"
                ng-click="openUsagerSearchModal()"
                style="margin-top: 1.7em;">
          Recherche d'identité
        </button>
      </div>
      <div class="col-sm-6">
        <div class="well well-sm" ng-if="usager">
          <div class="row">
            <strong class="col-sm-4">Numéro étranger</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">
                {{usager.identifiant_agdref}}
              </div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Nom</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">{{usager.nom}}</div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Prénom(s)</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">{{usager.prenoms.join(" ")}}</div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Sexe</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">{{usager.sexe}}</div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Date de naissance</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">
                {{usager.date_naissance | xinDate: 'shortDate'}}
              </div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Ville de naissance</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">{{usager.ville_naissance}}</div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Pays de naissance</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">{{usager.pays_naissance.libelle}}</div>
            </div>
          </div>
          <div class="row">
            <strong class="col-sm-4">Nationalité</strong>
            <div class="col-sm-8">
              <div class="thumbnail disabled margin-bottom-small">
                {{usager.nationalites[0].libelle}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="#" ng-submit="onNumeroTimbreSubmit($event)" ng-show="usager">

      <div class="row">
        <div class="col-md-6">
          <simple-text-input-directive
            form_label="'Numéro de timbre *'"
            form_labelled_by="'mandatory-text'"
            form_name="timbre_input_id"
            form_icon="'qrcode'"
            form_ng_model="numero_timbre"
            form_disabled="statut_checked"
            form_origin="numero_timbre">
          </simple-text-input-directive>
        </div>
        <div class="col-md-6">
          <br>
          <button class="btn btn-primary" type="submit" ng-show="numero_timbre && !statut_checked">
            Vérifier le statut
          </button>
        </div>
      </div>

      <p class="alert alert-{{alert_style}} margin-top" role="alert" ng-if="alert_message">
        <span class="fa fa-spinner fa-pulse" ng-if="alert_is_waiting"></span> {{alert_message}}
      </p>

      <div class="thumbnail col-md-12" ng-if="statut_checked">
        <div class="col-md-6">
          <p class="form-group">
            <label class="label-control" for="statut_du_timbre">Statut</label>
            <input type="text" id="statut_du_timbre" class="form-control" ng-model="libelle_timbre"
                   name="statut_du_timbre" ng-readonly="true">
          </p>
        </div>

        <div class="col-md-6">
          <p class="form-group">
            <label class="label-control" for="montant_du_timbre">Montant</label>
            <input type="text" id="montant_du_timbre" class="form-control" ng-model="montant_timbre_en_euros"
                   name="montant_du_timbre" ng-readonly="true">
          </p>
        </div>
      </div>

      <div class="buttonbar">
        <div class="alert alert-warning" ng-show="timbre_consomme">
          <input type="checkbox" ng-model="confirm">
          Je certifie avoir remis le titre pour étranger.
          <br>
          (N'oubliez pas de confirmer la remise de titre dans AGDREF)
        </div>

        <div ng-show="numero_timbre && statut_checked && !timbre_consomme">
          <button class="btn pull-right" ng-click="cancelConsumption($event)" ng-disabled="is_consuming_timbre">
            Annuler
          </button>

          <button class="btn btn-primary pull-right" ng-click="consumeTimbre($event)" ng-disabled="is_consuming_timbre" ng-show="timbre_consommable">
            Consommer le timbre
          </button>
        </div>

        <button class="btn btn-primary pull-right" ng-show="timbre_consomme" ng-disabled="!confirm" ng-click="editConfirmation($event)">
          Éditer la confirmation
        </button>
      </div>
    </form>
  </div>
</div>

<barcode-scanner on-scan="onScan"></barcode-scanner>
