<style>
  .no-padding-left {
    padding-left: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .popover {
    min-width: 30em;
  }
</style>

<div class="thumbnail col-sm-12" style="background-color: #ffeeee;">
  <h4><strong>Identité connue du FNE</strong></h4>

  <div class="col-sm-12 no-padding-right" ng-show="at_least_one_diff">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 no-padding-left">
      Identité existante dans le FNE.
      <a href="" class="fa fa-info-circle fa-2x"
         data-trigger="hover" data-toggle="popover"
         data-html="true" data-placement="left"
         data-content="Si vous choisissez cette identité, vous récupérez :
          <br>
          - L'état-civil de l'usager existant dans le FNE
          <br>
          - Le numéro étranger de l'usager existant dans le FNE"></a>
    </div>
    <div class="col-sm-4 no-padding-right">
      Identité déclarée dans le recueil.
      <a href="" class="fa fa-info-circle fa-2x"
         data-trigger="hover" data-toggle="popover"
         data-html="true" data-placement="left"
         data-content="Si vous choisissez cette identité, vous récupérez :
         <br>
         - L'état-civil déclaré dans le recueil
         <br>
         - Le numéro étranger de l'usager existant dans le FNE"></a>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Numéro étranger</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.identifiant_agdref}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usager.identifiant_agdref}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Nom</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.nom}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usagerOrig.nom}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Sexe</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.sexe}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usagerOrig.sexe}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Prénom(s)</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{prenoms}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{prenomsOrig}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Date de naissance</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">
        {{usager.date_naissance | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">
        {{usagerOrig.date_naissance | date: 'dd/MM/yyyy'}}
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Nationalité</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">
        {{usager.nationalites[0].libelle || '-'}}
      </div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">
        {{usagerOrig.nationalites[0].libelle || '-'}}
      </div>
    </div>
  </div>

  <div ng-show="usager.show_more">
    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom d'usage</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_usage || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_usage || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Situation familiale</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.situation_familiale || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.situation_familiale || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Ville de naissance</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.ville_naissance || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.ville_naissance || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Pays de naissance</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.pays_naissance.libelle || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.pays_naissance.libelle || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom du père</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_pere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_pere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Prénom du père</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.prenom_pere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.prenom_pere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom de la mère</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_mere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_mere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Prénom de la mère</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.prenom_mere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.prenom_mere || '-'}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right"
       ng-if="usager.active && (usager.codeDepartement != '990')">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 no-padding-left">
      <span class="btn btn-success" ng-click="selectApprochant('fne', usager)"
            style="margin-bottom: 0.5em;">
        Choisir cet usager
      </span>
    </div>
    <div class="col-sm-4 no-padding-right" ng-show="at_least_one_diff">
      <span class="btn btn-success"
            ng-click="selectApprochantWithoutEC('fne', usager)">
        Choisir cet usager
      </span>
    </div>
  </div>

  <div class="col-sm-12">
    <br>
    <button class="btn btn-xs btn-default pull-right"
            ng-click="showMore()">Voir {{usager.show_more?'moins':'plus'}}</button>
  </div>
  <div class="col-sm-12"><br></div>
  <br><br>

  <div class="col-sm-12 alert alert-danger" ng-if="usager.codeDepartement == '990'">
    Avant de pouvoir choisir cet usager dans le système d'information, il faut au préalable transférer dans AGDREF le dossier de l'étranger dans une préfecture.
  </div>
  <div class="col-sm-12 alert alert-danger" ng-if="!usager.active">
    Un usager avec ce numéro étranger existe dans le système d'information. Merci de choisir l'identité connue par le système d'information.
  </div>
  <br><br>
</div>
