<style>
  .no-padding-left {
    padding-left: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .popover {
    min-width: 30em;
  }
</style>

<div class="thumbnail col-sm-12" style="background-color: #fafafa;">
  <h4><strong>Identité connue du portail</strong></h4>

  <div class="col-sm-12 no-padding-right" ng-show="at_least_one_diff">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 no-padding-left">
      Identité existante dans le système d'information.
      <a href="" class="fa fa-info-circle fa-2x"
         data-trigger="hover" data-toggle="popover"
         data-html="true" data-placement="left"
         data-content="Si vous choisissez cette identité, vous récupérez :
          <br>
          - L'état-civil de l'usager existant dans le système d'information
          <br>
          - Le numéro étranger de l'usager existant dans le système d'information"></a>
    </div>
    <div class="col-sm-4 no-padding-right">
      Identité déclarée dans le recueil.
      <a href="" class="fa fa-info-circle fa-2x"
         data-trigger="hover" data-toggle="popover"
         data-html="true" data-placement="left"
         data-content="Si vous choisissez cette identité, vous récupérez :
         <br>
         - L'état-civil déclaré dans le recueil
         <br>
         - Le numéro étranger de l'usager existant dans le système d'information"></a>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Photo</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">
        <img width="100" ng-show="usager.photo" ng-src="{{api_url}}{{usager.photo._links.data}}">
        <span ng-show="!usager.photo">-</span>
      </div>
    </div>
    <div ng-show="at_least_one_diff"
         class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">
        <img width="100" ng-show="usagerOrig.photo" ng-src="{{api_url}}{{usagerOrig.photo._links.data}}">
        <span ng-show="!usagerOrig.photo">-</span>
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Numéro étranger</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.identifiant_agdref}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usager.identifiant_agdref}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Identifiant portail</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.id}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usager.id}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Nom</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.nom}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usagerOrig.nom}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Sexe</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{usager.sexe}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{usagerOrig.sexe}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Prénom(s)</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">{{prenoms}}</div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">{{prenomsOrig}}</div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Date de naissance</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">
        {{usager.date_naissance_txt}}
      </div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">
        {{usagerOrig.date_naissance | date: 'dd/MM/yyyy'}}
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right">
    <strong class="col-sm-4 specific-margin">Nationalité</strong>
    <div class="specific-margin no-padding-left"
         ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
      <div class="thumbnail disabled no-margin-bottom">
        {{usager.nationalites[0].libelle || '-'}}
      </div>
    </div>
    <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
      <div class="thumbnail disabled no-margin-bottom">
        {{usagerOrig.nationalites[0].libelle || '-'}}
      </div>
    </div>
  </div>

  <div ng-show="usager.show_more">
    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom d'usage</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_usage || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_usage || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Situation familiale</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.situation_familiale || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.situation_familiale || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Ville de naissance</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.ville_naissance || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.ville_naissance || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Pays de naissance</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.pays_naissance.libelle || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.pays_naissance.libelle || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom du père</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_pere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_pere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Prénom du père</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.prenom_pere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.prenom_pere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Nom de la mère</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.nom_mere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.nom_mere || '-'}}
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding-right">
      <strong class="col-sm-4 specific-margin">Prénom de la mère</strong>
      <div class="specific-margin no-padding-left"
           ng-class="at_least_one_diff? 'col-sm-4':'col-sm-8'">
        <div class="thumbnail disabled no-margin-bottom">
          {{usager.prenom_mere || '-'}}
        </div>
      </div>
      <div ng-show="at_least_one_diff" class="col-sm-4 specific-margin no-padding-right">
        <div class="thumbnail disabled no-margin-bottom">
          {{usagerOrig.prenom_mere || '-'}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding-right" ng-if="!usager.contact_prefecture_rattachee">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 no-padding-left">
      <span class="btn btn-success" ng-click="selectApprochant('pf', usager)"
            style="margin-bottom: 0.5em;">
        Choisir cet usager
      </span>
    </div>
    <div class="col-sm-4 no-padding-right" ng-show="at_least_one_diff && !usager.ecv_valide">
      <span class="btn btn-success"
            ng-click="selectApprochantWithoutEC('pf', usager)">
        Choisir cet usager
      </span>
    </div>
  </div>

  <div class="col-sm-12">
    <br>
    <button class="btn btn-xs btn-default pull-right"
            ng-click="showMore()">Voir {{usager.show_more?'moins':'plus'}}</button>
  </div>
  <div class="col-sm-12"><br></div>
  <br><br>

  <div class="thumbnail col-sm-12" style="background-color: #faaaaa;"
       ng-if="usager.contact_prefecture_rattachee">
    <strong>L'usager n°{{usager.id}} est rattachée à la préfecture :</strong>
    <div class="thumbnail" style="background-color: #faeeee;">
      {{usager.contact_prefecture_rattachee.libelle}} <br>
      Téléphone : {{usager.contact_prefecture_rattachee.telephone}}<br>
      Email : {{usager.contact_prefecture_rattachee.email}}
    </div>
    <strong>Merci de contacter sa préfecture de rattachement pour plus d'informations ou utiliser l'interface de transfert pour récupérer le dossier.</strong>
  </div>
  <div class="col-sm-12 alert alert-danger" ng-if="usager.indicateurDecisionDefinitive == 'O'">
    Cet usager a déjà une demande d'asile en cours dans le système d'information. Il ne peut être sélectionné qu'en tant que "Non demandeur" dans ce recueil.
  </div>
  <br><br>
</div>
