<div class="actionbar container navbar-static-top affix">
    <div class="row">
        <div class="col-md-2">
            <navigationbar-directive></navigationbar-directive>
        </div>
        <div class="col-md-10">
            <div class="buttonbar" ng-init="haveFilters = false">
                <a class="btn btn-danger" href="#/utilisateurs/nouvel-utilisateur" ng-if="links.create"><strong>Nouvel utilisateur</strong></a>
                <a class="btn btn-primary pull-right" ng-show="!avancedFilters" ng-click="avancedFilters = true">
                  <i class="glyphicon glyphicon-filter" ng-show="haveFilters"></i><strong>Afficher la recherche avancée</strong>
                </a>
                <a class="btn btn-primary pull-right" ng-show="avancedFilters" ng-click="avancedFilters = false"><strong>Cacher la recherche avancée</strong></a>
            </div>
        </div>
    </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">

      <div class="container-fluid">

        <div solr-filters-directive lookup="lookup" json="utilisateur" avanced-filters="avancedFilters" have-filters="haveFilters"></div>

        <div class="pull-right space-bottom">
          <span toggle-switch-directive ng-if="toggle.show"
            ng-model="toggle.overall"
            left-label="{{toggle.left_label}}"
            knob-label="Vue"
            right-label="{{toggle.right_label}}"
            switch-size="small"
            left-label-color="#337ab7"
            right-label-color="#4cae4c">
          </span>
        </div>

        <list-resource-directive resource-backend="resourceBackend" complement="toggle.overall" lookup="lookup" links="links" custom-update-resources-list="computeResource">
          <div class="well-list" ng-mouseover="showPopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/utilisateurs/{{resource.id}}{{complement ? '?overall' : ''}}">
                <i class="fa fa-4x fa-user"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a ng-href="#/utilisateurs/{{resource.id}}{{complement ? '?overall' : ''}}">
                    {{resource.prenom}} {{resource.nom}}
                  &lt;{{resource.email}}&gt;
                  </a>
                </strong>
              </div>
              <div class="col-sm-12" ng-show="resource.fin_validite">
                <div ng-show="resource.soon_inactive" class="badge alert-warning">Cet utilisateur sera désactivé le {{resource.fin_validite | xinDate: 'shortDate' : '+0000'}}</div>
                <div ng-show="resource.already_inactive" class="badge alert-danger">Cet utilisateur a été désactivé le {{resource.fin_validite | xinDate: 'shortDate' : '+0000'}}</div>
              </div>

              <div class="col-sm-12" ng-show="resource.accreditations">
                <list-role-directive accreditations="resource.accreditations"></list-role-directive>
              </div>
              <div class="col-sm-12" ng-show="resource.telephone">
                <i class="fa fa-lg fa-phone"></i>&nbsp;&nbsp;{{resource.telephone}}
              </div>
            </div>
          </div>

          <div class="popover-list" ng-show="popoverIsVisible[resource.id]" ng-mouseleave="hidePopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/utilisateurs/{{resource.id}}{{complement ? '?overall' : ''}}">
                <i class="fa fa-4x fa-user"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a ng-href="#/utilisateurs/{{resource.id}}{{complement ? '?overall' : ''}}">
                    {{resource.prenom}} {{resource.nom}}
                  &lt;{{resource.email}}&gt;
                  </a>
                </strong>
              </div>
              <div class="col-sm-12" ng-show="resource.fin_validite">
                <div ng-show="resource.soon_inactive" class="badge alert-warning">Cet utilisateur sera désactivé le {{resource.fin_validite | xinDate: 'shortDate' : '+0000'}}</div>
                <div ng-show="resource.already_inactive" class="badge alert-danger">Cet utilisateur a été désactivé le {{resource.fin_validite | xinDate: 'shortDate' : '+0000'}}</div>
              </div>
              <div class="col-sm-12" ng-show="resource.accreditations">
                <list-role-directive accreditations="resource.accreditations"></list-role-directive>
              </div>
              <div class="col-sm-12" ng-show="resource.telephone">
                <i class="fa fa-lg fa-phone"></i>&nbsp;&nbsp;{{resource.telephone}}
              </div>
            </div>
          </div>
        </list-resource-directive>
      </div>
    </div>
  </div>
</div>
