<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar">
        <sc-button class="save-user btn btn-primary pull-right"
                   ng-click="saveUser()"
                   wait-for-class="fa fa-spinner fa-1 fa-pulse"
                   cancel-wait-for="saveDone"
                   ng-if="canModifierUtilisateur && !isRouteMoi"
                   label="'Sauvegarder'">
        </sc-button>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">

      <div class="container">
      <div class="alert alert-block alert-warning" disabled="disabled" ng-if="utilisateur.fin_validite && !utilisateur_inactif">Cet utilisateur sera désactivé le {{ utilisateur.fin_validite | xinDate: 'shortDate' : '+0000' }}</div>
      <div class="alert alert-block alert-danger" disabled="disabled" ng-if="utilisateur_inactif">Utilisateur désactivé le {{ utilisateur.fin_validite | xinDate: 'shortDate' : '+0000' }}</div>
        <div>
          <h3>
            <span ng-if="!utilisateur.prenom">Prénom</span><span ng-if="utilisateur.prenom">{{utilisateur.prenom}}</span>
            <span ng-if="!utilisateur.nom">Nom</span><span ng-if="utilisateur.nom">{{utilisateur.nom}}</span>
            &lt;<span ng-if="!utilisateur.email">email</span><span ng-if="utilisateur.email">{{utilisateur.email}}</span>&gt;
          </h3>
          <sc-button class="btn btn-xs btn-danger change-password"
                     ng-click="editPassword()"
                     wait-for-class="fa fa-spinner fa-1 fa-pulse"
                     cancel-wait-for="passwordDone"
                     ng-if="!creation && (isMyProfile || canModifierUtilisateur)"
                     label="'Modifier le mot de passe'"
                     label-class="'fa fa-lg fa-key'">
          </sc-button>
        </div>

        <form class="simple-form" novalidate name="userForm" ng-submit="saveUser()">
          <div class="alert alert-danger" ng-show="_errors.text">
            {{ _errors.text }}
          </div>

          <div class="col-sm-12" style="z-index:2; padding-bottom: 15px;">

            <div class="col-sm-5">
              <h3>Identité</h3>
              <hr align="left" />

              <simple-text-input-directive
                form_label="'Prénom *'"
                upper_first_letter="true"
                form_icon="'user'"
                form_ng_model="utilisateur.prenom"
                form_origin="origin_utilisateur.prenom"
                form_error="_errors.prenom"
                form_placeholder="''"
                form_name="'prenom'"
                form_disabled="!canModifierUtilisateur || isRouteMoi"
                form_popover="'ex: Dupond'">
              </simple-text-input-directive>

              <simple-text-input-directive
                form_label="'Nom *'"
                upper_first_letter="true"
                form_icon="'user'"
                form_ng_model="utilisateur.nom"
                form_origin="origin_utilisateur.nom"
                form_error="_errors.nom"
                form_placeholder="''"
                form_name="'nom'"
                form_disabled="!canModifierUtilisateur || isRouteMoi"
                form_popover="'ex: Jean'">
              </simple-text-input-directive>

              <br>

              <h3>Contacts</h3>
              <hr align="left" />

              <simple-text-input-directive
                form_label="'Email *'"
                form_icon="'at'"
                form_ng_model="utilisateur.email"
                form_origin="origin_utilisateur.email"
                form_error="_errors.email"
                form_placeholder="''"
                form_name="'email'"
                form_disabled="!canModifierUtilisateur || isRouteMoi"
                form_popover="'ex: jean.dupond@interieur.gouv.fr'">
              </simple-text-input-directive>

              <simple-text-input-directive
                form_label="'Téléphone'"
                form_icon="'phone'"
                form_ng_model="utilisateur.telephone"
                form_origin="origin_utilisateur.telephone"
                form_error="_errors.telephone"
                form_placeholder="''"
                form_name="'telephone'"
                form_disabled="!canModifierUtilisateur || isRouteMoi"
                maxlength="22"
                form_popover="'ex: 01 22 33 44 55'">
              </simple-text-input-directive>

            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-5">
              <h3>Habilitations</h3>
              <hr align="left" />

              <div style="margin-bottom:15px" ng-if="utilisateur.system_account">
                <label class="label-control">Compte système</label>
                <span toggle-switch-directive
                  ng-model="utilisateur.system_account"
                  left-label="Oui"
                  knob-label=""
                  right-label="Non"
                  switch-size="small"
                  left-label-color="green"
                  is-summarised="true"
                  right-label-color="red">
                </span>
                <div ng-show="utilisateur._errors.system_account" class="alert alert-danger">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{utilisateur._errors.system_account}}
                </div>
              </div>

              <div class="panel panel-default" style="border-width: 2px;" ng-repeat="accr in accreditations">
                <div class="panel-body">
                  <habilitation-directive
                    accreditation="accr">
                  </habilitation-directive>

                  <span class="btn btn-xs btn-danger"
                     ng-click="deleteAccreditation($index)"
                     ng-if="accr.mode == 'create' && !$first">
                     Supprimer l'habilitation
                  </span>

                  <span class="btn btn-xs btn-danger"
                     ng-click="deactivateAccreditation(accr)"
                     ng-if="accr.mode == 'update'  && !isRouteMoi && canModifierUtilisateur && accr.data.fin_validite == undefined">
                     Désactiver l'habilitation
                  </span>

                  <span class="btn btn-xs btn-primary"
                     ng-click="activateAccreditation(accr)"
                     ng-if="accr.mode == 'update' && !isRouteMoi && canModifierUtilisateur && accr.data.fin_validite">
                     Réactiver l'habilitation
                  </span>
                </div>
              </div>

              <span class="btn btn-primary pull-right"
                 ng-click="addAccreditation()"
                 ng-if="!isRouteMoi && canModifierUtilisateur && canModifierUtilisateur">
                 Ajouter une habilitation
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
