<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar" ng-init="haveFilters = false">
        <a class="btn btn-primary pull-right" ng-show="!avancedFilters"
           ng-click="avancedFilters = true">
          <i class="glyphicon glyphicon-filter" ng-show="haveFilters"></i>
          Afficher la recherche avancée
        </a>
        <a class="btn btn-primary pull-right" ng-show="avancedFilters"
           ng-click="avancedFilters = false">Cacher la recherche avancée</a>
        <div ng-show="current_statut=='(PA_REALISE OR DEMANDEURS_IDENTIFIES)'">
          <button class="btn btn-success pull-right" ng-click="pdf()"
                  ng-show="displayPlanning">Télécharger le planning de la journée</button>
        </div>
        <a class="btn btn-danger" href="#/gu-enregistrement/nouveau-recueil"
           ng-show="user.role != 'SUPPORT_NATIONAL' && user.role != 'GESTIONNAIRE_NATIONAL'">
          <strong>Nouveau recueil</strong>
        </a>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
      <div class="list-group sidebar">
        <a class="list-group-item {{planning_active}}" href="#/gu-enregistrement?statut=(PA_REALISE OR DEMANDEURS_IDENTIFIES)&planning">Planning</a>

        <a class="list-group-item {{pa_realise_active}}" href="#/gu-enregistrement?statut=PA_REALISE" data-toggle="collapse" data-target="#pa_realise_reprise">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          Premier accueil réalisé<span class="badge">{{pa_realise_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : pa_realise_reprise_active }" id="pa_realise_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{pa_realise_reprise_active}}" href="#/gu-enregistrement?statut=PA_REALISE_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{pa_realise_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{demandeurs_identifies_active}}" href="#/gu-enregistrement?statut=DEMANDEURS_IDENTIFIES" data-toggle="collapse" data-target="#demandeurs_identifies_reprise">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          N° étranger attribué<span class="badge">{{demandeurs_identifies_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : demandeurs_identifies_reprise_active }" id="demandeurs_identifies_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{demandeurs_identifies_reprise_active}}" href="#/gu-enregistrement?statut=DEMANDEURS_IDENTIFIES_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{demandeurs_identifies_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{gu_exploite_active}}" href="#/gu-enregistrement?statut=EXPLOITE" data-toggle="collapse" data-target="#gu_exploite_reprise">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          Demande d'asile enregistrée<span class="badge">{{gu_exploite_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : gu_exploite_reprise_active }" id="gu_exploite_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{gu_exploite_reprise_active}}" href="#/gu-enregistrement?statut=EXPLOITE_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{gu_exploite_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{annule_active}}" href="#/gu-enregistrement?statut=ANNULE" data-toggle="collapse" data-target="#annule_reprise">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          Recueil annulé<span class="badge">{{annule_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : annule_reprise_active }" id="annule_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{annule_reprise_active}}" href="#/gu-enregistrement?statut=ANNULE_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{annule_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{all_active}}" href="#/gu-enregistrement" data-toggle="collapse" data-target="#all_reprise">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          Tous les recueils<span class="badge">{{all_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : all_reprise_active }" id="all_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{all_reprise_active}}" href="#/gu-enregistrement?statut=REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{all_reprise_nbr}}</span>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-10 right-content">
      <div class="container">
        <div solr-filters-directive lookup="lookup" json="recueil" avanced-filters="avancedFilters"
             have-filters="haveFilters">
        </div>

        <div ng-if="displayPlanning">
          <div class="col-sm-12">
            <div class="col-md-1"><a href=""><i class="fa fa-2x fa-chevron-circle-left" ng-click="prevDay()"></i></a></div>
            <div class="col-md-10" align="center"><h2 style="margin-top: 0px;"><strong>{{dateToDisplay | xinDate:'shortDate'}}</strong></h2></div>
            <div class="col-md-1"><span class="pull-right"><a href=""><i class="fa fa-2x fa-chevron-circle-right" ng-click="nextDay()"></i></a></span></div>
          </div>
          <list-resource-directive column-class-info="''"
                                   resource-backend="resourceBackend"
                                   lookup="lookup"
                                   links="links"
                                   abort="abort"
                                   custom-update-resources-list="updateScope">
            <div class="thumbnail col-sm-12">
              <div class="col-md-2" align="center" style="background-color:#fafafa;">
                <h3>
                  <strong ng-show="resource.rendez_vous_gu.date">{{resource.rendez_vous_gu.date | xinDate:'HH:mm'}}</strong>
                  <strong ng-show="!resource.rendez_vous_gu.date">Pas de rendez-vous</strong>
                </h3>
                <i><strong ng-show="resource.date_convocation">Convocation à {{resource.date_convocation | xinDate:'HH:mm'}}</strong></i>
              </div>
              <div class="col-md-10">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <a href="#/gu-enregistrement/{{resource.id}}">
                      <h4 style="margin-bottom:0px; margin-top: 0px;">Recueil n°{{resource.id}}</h4>
                    </a>
                  </div>
                  <div class="col-sm-2">
                    <div ng-show="resource.nb_usagers_mobilite_reduite">
                      <span style="font-size: 16px">{{resource.nb_usagers_mobilite_reduite}} </span>
                      <a title="personne à mobilité réduite">
                        <i style="font-size: 19px; color: #000" class='fa fa-wheelchair'></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <b>
                      <i>
                        <strong><font size="2" >{{resource.siteLibelle}}</font></strong>
                      </i>
                    </b>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-6">
                    <div>
                      <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fne_spinner"></span>
                      <span ng-show="resource.fne" class="badge alert-danger">FNE</span>
                      <span ng-show="resource.no_fne" class="btn btn-disconnect btn-xs" style="color: white;"
                            ng-click="complement.f_injoignable('FNE')">
                        FNE injoignable
                      </span>
                      <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fpr_spinner"></span>
                      <span ng-show="resource.fpr" class="badge alert-danger">FPR</span>
                      <span ng-show="resource.no_fpr" class="btn btn-disconnect btn-xs" style="color: white;"
                            ng-click="complement.f_injoignable('FPR')">
                        FPR injoignable
                      </span>
                      <span ng-show="resource.child_14" class="badge alert-info">Mineur +14ans</span>
                    </div>
                    <div>
                      Demandeur<span ng-show="resource.demandeursCount > 1">s</span> : <strong>{{resource.demandeurs.names}}</strong>
                    </div>
                    <span ng-show="resource.enfants">
                      <br>
                      {{resource.child_presents_count}} enfant<span ng-show="resource.child_presents_count > 1">s</span>
                    </span>
                  </div>
                  <div class="col-sm-6 photos-{{$index}}"></div>
                </div>
              </div>
            </div>
          </list-resource-directive>
        </div>

        <div ng-if="!displayPlanning">
          <list-resource-directive resource-backend="resourceBackend" lookup="lookup" links="links"
                                   custom-update-resources-list="updateScope" complement="complement">
            <div class="well-list" ng-mouseover="showPopover(resource.id)">
              <div class="col-xs-2">
                <a href="#/gu-enregistrement/{{resource.id}}">
                  <i class="fa fa-4x fa-camera-retro"></i>
                </a>
              </div>
              <div class="col-xs-10">
                <div class="col-sm-12">
                  <strong>{{profil_demande[resource.profil_demande]}} -
                    <a href="#/gu-enregistrement/{{resource.id}}">
                      Recueil n°{{resource.id}}
                    </a>

                    <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fne_spinner"></span>
                    <span ng-show="resource.fne" class="badge alert-danger">FNE</span>
                    <span ng-show="resource.no_fne" class="btn btn-disconnect btn-xs" style="color: white;"
                          ng-click="complement.f_injoignable('FNE')">
                      FNE injoignable
                    </span>
                    <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fpr_spinner"></span>
                    <span ng-show="resource.fpr" class="badge alert-danger">FPR</span>
                    <span ng-show="resource.no_fpr" class="btn btn-disconnect btn-xs" style="color: white;"
                          ng-click="complement.f_injoignable('FPR')">
                      FPR injoignable
                    </span>
                    <span ng-show="resource.child_14" class="badge alert-info">Mineur +14ans</span>
                  </strong>
                </div>
                <div class="col-sm-12" ng-show="resource.statut == 'PA_REALISE' && resource.rendez_vous_gu">
                  RDV : <strong>{{resource.rendez_vous_gu.date | xinDate : 'medium'}}</strong>
                </div>
                <div class="col-sm-12">
                  Statut : <strong>{{recueil_statut[resource.statut]}}</strong>
                </div>
                <div class="col-sm-12">
                  Demandeur<span ng-show="resource.demandeursCount > 1">s</span> : <strong>{{resource.demandeurs.names}}</strong>
                </div>
                <div class="col-sm-12" ng-show="resource.enfants">
                  <span ng-show="resource.enfants">{{resource.child_presents_count}} enfant<span ng-show="resource.child_presents_count > 1">s</span></span>
                </div>
              </div>
            </div>

            <div class="popover-list" ng-show="popoverIsVisible[resource.id]" ng-mouseleave="hidePopover(resource.id)">
              <div class="col-xs-2">
                <a href="#/gu-enregistrement/{{resource.id}}">
                  <i class="fa fa-4x fa-camera-retro"></i>
                </a>
              </div>
              <div class="col-xs-10">
                <div class="col-sm-12">
                  <strong>{{profil_demande[resource.profil_demande]}} -
                    <a href="#/gu-enregistrement/{{resource.id}}">
                      Recueil n°{{resource.id}}
                    </a>

                    <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fne_spinner"></span>
                    <span ng-show="resource.fne" class="badge alert-danger">FNE</span>
                    <span href="" ng-show="resource.no_fne" class="btn btn-disconnect btn-xs" style="color: white;"
                          ng-click="complement.f_injoignable('FNE')">
                      FNE injoignable
                    </span>
                    <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.fpr_spinner"></span>
                    <span ng-show="resource.fpr" class="badge alert-danger">FPR</span>
                    <span ng-show="resource.no_fpr" class="btn btn-disconnect btn-xs" style="color: white;"
                          ng-click="complement.f_injoignable('FPR')">
                      FPR injoignable
                    </span>
                    <span ng-show="resource.child_14" class="badge alert-info">Mineur +14ans</span>

                  </strong>
                </div>
                <div class="col-sm-12" ng-show="resource.statut == 'PA_REALISE' && resource.rendez_vous_gu">
                  RDV : <strong>{{resource.rendez_vous_gu.date | xinDate : 'medium'}}</strong>
                </div>
                <div class="col-sm-12">
                  Statut : <strong>{{recueil_statut[resource.statut]}}</strong>
                </div>
                <div class="col-sm-12">
                  Demandeur<span ng-show="resource.demandeursCount > 1">s</span> : <strong>{{resource.demandeurs.names}}</strong>
                </div>
                <div class="col-sm-12" ng-show="resource.enfants">
                  <span ng-show="resource.enfants">{{resource.child_presents_count}} enfant<span ng-show="resource.child_presents_count > 1">s</span></span>
                </div>
              </div>
            </div>
          </list-resource-directive>
        </div>
      </div>
    </div>
  </div>
</div>
