<div class="container">
  <div class="header text-center">
    <h3>Identifiez-vous</h3>
    <!--<img src="/images/logo.png" height="100">-->
  </div>
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <form class="simple-form" novalidate name="basicLoginForm" ng-submit="basicLoginProceed()">

        <div class="form-group" ng-class="{'has-error': basicLoginForm.email.$invalid && !basicLoginForm.$pristine}">
          <div class="input-group">
            <label class="input-group-addon" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="off"
                   ng-model="basicLogin.login" required>
          </div>
          <span ng-show="basicLoginForm.email.$error.required"
                class="help-block">Champ requis</span>
          <span ng-show="basicLoginForm.email.$error.email"
                class="help-block">Entrez un email valide</span>
        </div>

        <div class="form-group" ng-class="{'has-error': basicLoginForm.password.$invalid && !basicLoginForm.$pristine}">
          <div class="input-group">
            <label class="input-group-addon" for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="off"
                   ng-model="basicLogin.password" ng-disabled="readOnly" required>
          </div>
          <span ng-show="basicLoginForm.password.$error.required"
                class="help-block has-error">Champ requis</span>
          <span ng-show="basicLoginFailed"
                class="help-block">mot de passe invalide</span>
        </div>

        <div class="checkbox">
          <div class="col-sm-1"></div>
          <label>
            <input type="checkbox" ng-model="basicLogin.remember_me" ng-value="true"
                   ng-checked="basicLogin.remember_me">
            Se souvenir de moi
          </label>
          <span class="pull-right button-recovery_pwd" ng-click="recoveryPWD()">
            Mot de passe oublié ?
          </span>
        </div>

        <div class="form-group text-center">
          <input class="basic-login-proceed btn btn-primary" type="submit" value="Valider">
        </div>

      </form>
    </div>

    <div class="col-md-3">
    </div>

  </div>
</div>
