<div class="navbar-static-top actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar">
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">

      <div class="container-fluid">
        <div class="row-fluid">

          <a href="#/utilisateurs" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/utilisateurs') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-users icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Utilisateurs</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/sites" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/sites') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-university icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Sites</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/orchestration-echanges" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/orchestration-echanges') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-share-alt icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Orchestration des échanges</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/orchestration-echanges-rabbit" class="link-accueil"
            ng-if="PERMISSIONS[user.role].indexOf('/orchestration-echanges-rabbit') != -1"
            ng-show="ff_broker_rabbit">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-share-alt icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Orchestration des échanges V2</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/parametrage" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/parametrage') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-cog icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Paramétrage</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/plages-rdv" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/plages-rdv') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-calendar icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Plages de <br />rendez-vous</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/premier-accueil?statut=BROUILLON" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/premier-accueil') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-folder-open-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Premier accueil</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/gu-enregistrement?statut=(PA_REALISE OR DEMANDEURS_IDENTIFIES)&planning"
             class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/gu-enregistrement') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-camera-retro icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">GU<br />Enregistrement</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/attestations" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/attestations') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-print icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Edition<br />d'attestation</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/demandes-asiles" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/demandes-asiles') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Demandes d'asile</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/usagers" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/usagers') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-users icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Usagers</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/transfert-de-dossier" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/transfert-de-dossier') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-reply-all icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Transfert de dossier</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/historique-telem-ofpra" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/historique-telem-ofpra') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-eye icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Historique accès Telem Ofpra</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/extractions-base" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/extractions-base') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Extractions base de données</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/indicateurs-pilotage" class="link-accueil"
            ng-if="PERMISSIONS[user.role].indexOf('/indicateurs-pilotage') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Indicateurs de pilotage</span>
                </div>
              </div>
            </div>
          </a>

          <a href="#/remise-titres" class="link-accueil"
             ng-if="PERMISSIONS[user.role].indexOf('/remise-titres') != -1">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-id-card-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Remise de titres</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
