<div class="panel panel-default">

  <div class="panel-heading" role="tab" id="headingUsager_{{panel_id}}">
    <span style="margin-top: -6px;" class="pull-right" ng-if="usager">
      <span toggle-switch-directive
        ng-model="usager.demandeur"
        left-label="Non"
        knob-label="Demandeur"
        right-label="Oui"
        switch-size="small"
        left-label-color="red"
        is-summarised="uDisabled"
        left-value="false"
        right-value="true"
        right-label-color="green">
      </span>

      <span class="btn btn-default" ng-if="deleteButton" ng-click="deleteMe()"  ng-show="!uDisabled">
        <i class="pull-right fa fa-lg fa-remove"></i>
      </span>
      <div ng-show="usager._errors.demandeur" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.demandeur}}
      </div>
    </span>
    <span class="btn btn-warning pull-right" style="margin-top: -6px;" disabled="uDisabled" ng-show="usager.demandeur != origin_usager.demandeur"><i class="pull-right fa fa-lg fa-pencil"></i></span>

    <h4 class="panel-title">
      <img ng-show="!usager.photo.id && usager.photo_premier_accueil" ng-src="{{api_url}}{{usager.photo_premier_accueil._links.data}}" height="40px"/>
      <img ng-show="usager.photo.id" ng-src="{{api_url}}{{usager.photo._links.data}}" height="40px"/>
      <a data-toggle="collapse" href=".collapseUsager_{{panel_id}}"
         aria-expanded="true" aria-controls="">
         {{type_usager_label[typeUsager]}}
        <strong ng-show="usager.nom || usager.prenoms.length > 0  "> -
        <span ng-repeat="prenom in usager.prenoms">{{prenom}} </span>
        <span>{{usager.nom}}</span></strong>
      </a>
    </h4>
  </div>

  <div collapse="isCollapsed" class="collapseUsager_{{panel_id}} panel-collapse" role="tabpanel" aria-labelledby="headingUsager_{{panel_id}}">
    <div class="panel-body" ng-if="usager">

      <div class="col-sm-12" ng-show="usager.demandeur">
        <div class="col-sm-5">
          <select-referential-directive
            model-listener="usager"
            label="'Type de demande *'"
            model="usager.type_demande"
            ref-disabled="PERMISSIONS[user.role].indexOf('modifier_gu-enregistrement') == -1"
            error-model="usager._errors.type_demande"
            url="''"
            choices="selectTypeDemande">
          </select-referential-directive>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <simple-text-input-directive
            form-label="'Numéro du réexamen *'"
            form-disabled="PERMISSIONS[user.role].indexOf('modifier_gu-enregistrement') == -1"
            form-ng-model="usager.numero_reexamen"
            form-origin="origin_usager.numero_reexamen"
            form-error="usager._errors.numero_reexamen"
            form-placeholder="''"
            ng-show="usager.type_demande == 'REEXAMEN'">
          </simple-text-input-directive>
        </div>
      </div>

      <div class="col-sm-12 thumbnail">
        <h3>Identité</h3>
        <hr align="left" />
        <div class="col-sm-5">

          <simple-text-input-directive
            form_label="'Nom *'"
            upper_first_letter="true"
            form_icon="'user'"
            form_disabled="uDisabled"
            form_ng_model="usager.nom"
            form_placeholder="''"
            form_origin="origin_usager.nom"
            form_error="usager._errors.nom"
            form_popover="'ex: Dupond'">
          </simple-text-input-directive>

          <simple-text-input-directive
            form_label="'Nom d\'usage'"
            upper_first_letter="true"
            form_disabled="uDisabled"
            form_icon="'user'"
            form_error="usager._errors.nom_usage"
            form_origin="origin_usager.nom_usage"
            form_ng_model="usager.nom_usage"
            form_placeholder="''"
            form_popover="'ex: Dupond'">
          </simple-text-input-directive>

          <list-text-input-directive
            label="'Prénom(s) *'"
            upper_first_letter="true"
            model="usager.prenoms"
            error="usager._errors.prenoms"
            icon="'user'"
            u-disabled="uDisabled"
            placeholder="''"
            origin-model="origin_usager"
            popover_content="'ex: Jean'">
          </list-text-input-directive>

          <div class="form-group" ng-if="usager" ng-show="usager.demandeur == false">
            <label class="label-control">Présent au moment de la demande</label>
            <span ng-show="!uDisabled">
              <span toggle-switch-directive
                ng-model="usager.present_au_moment_de_la_demande"
                left-label="Oui"
                knob-label=""
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
            </span>
            <span ng-show="uDisabled">
              <span toggle-switch-directive
                ng-model="usager.present_au_moment_de_la_demande"
                left-label="Oui"
                knob-label="Non précisé"
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
            </span>
          </div>

          <div class="form-group" ng-if="usager">
            <label class="label-control">Sexe *</label>
            <span toggle-switch-directive
              ng-model="usager.sexe"
              left-label="M"
              knob-label=""
              right-label="F"
              switch-size="small"
              left-label-color="royalblue"
              is-summarised="uDisabled"
              right-label-color="red"
              left-value="'M'"
              right-value="'F'">
            </span>
            <div ng-show="usager._errors.sexe" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.sexe}}
            </div>
          </div>
        </div>

        <div class="col-sm-1"></div>

        <div ng-hide="!usager.demandeur">
          <div class="col-sm-5" ng-if="!usager.photo.id">
            <photo-directive
              photo-label="'Photo *'"
              photo-origin="origin_usager.photo_premier_accueil"
              usager="usager"
              photo="usager.photo_premier_accueil"
              photo-disabled="uDisabled"
              photo-error="usager._errors.photo_premier_accueil"
              download-if-not-camera="true">
            </photo-directive>
          </div>
          <div class="col-sm-5" ng-if="usager.photo.id">
            <photo-directive
              photo-label="'Photo'"
              photo-origin="origin_usager.photo"
              usager="usager"
              photo="usager.photo"
              photo-disabled="uDisabled"
              photo-error="usager._errors.photo"
              download-if-not-camera="true">
            </photo-directive>
          </div>
        </div>

        <div class="col-sm-1"></div>
      </div>


      <div class="col-sm-12">
        <div class="col-sm-5">

          <h3>Informations de naissance</h3>
          <hr align="left" />

          <date-text-input-directive
            label="'Date de naissance *'"
            active="!uDisabled"
            model="usager.date_naissance"
            origin_model="origin_usager.date_naissance"
            error="usager._errors.date_naissance"
            approximative="true"
            approximative_model="usager.date_naissance_approximative"
            popover_content="'ex: 15/01/1980'">
          </date-text-input-directive>

          <div class="col-sm-12" ng-show="minor_child && usager.demandeur">
            <h4>Profil de demande *</h4>
            <span class="form-control" ng-disabled="true" ng-show="profilDemande == 'MINEUR_ACCOMPAGNANT'">Mineur accompagnant</span>
            <span class="form-control" ng-disabled="true" ng-show="profilDemande == 'MINEUR_ISOLE'">Mineur isolé</span>

            <h4>Représentant légal</h4>
            <div class="form-group" ng-if="usager">
              <label class="label-control">Personne morale ?</label>

              <span toggle-switch-directive
                ng-model="usager.representant_legal_personne_morale"
                left-label="Oui"
                knob-label=""
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
              <div ng-show="usager._errors.representant_legal_personne_morale" class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.representant_legal_personne_morale}}
              </div>
            </div>

            <simple-text-input-directive
              form_label="'Nom du représentant'"
              form_disabled="uDisabled"
              upper_first_letter="true"
              form_origin="origin_usager.representant_legal_nom"
              form_error="usager._errors.representant_legal_nom"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_nom"
              form_placeholder="''"
              form_popover="'ex: Dupond'"
              form_hide="usager.representant_legal_personne_morale">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Prénom du représentant'"
              form_disabled="uDisabled"
              upper_first_letter="true"
              form_origin="origin_usager.representant_legal_prenom"
              form_error="usager._errors.representant_legal_prenom"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_prenom"
              form_placeholder="''"
              form_popover="'ex: Louis'"
              form_hide="usager.representant_legal_personne_morale">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Désignation de la personne morale'"
              form_disabled="uDisabled"
              form_hide="!usager.representant_legal_personne_morale"
              form_origin="origin_usager.representant_legal_personne_morale_designation"
              form_error="usager._errors.representant_legal_personne_morale_designation"
              form_icon="'user'"
              form_ng_model="usager.representant_legal_personne_morale_designation"
              form_placeholder="''">
            </simple-text-input-directive>
            <hr align="left" />
          </div>

          <simple-text-input-directive
            form_label="'Ville de naissance *'"
            form_disabled="uDisabled"
            form_error="usager._errors.ville_naissance"
            extend_icon="true"
            form_icon="'map-marker'"
            form_origin="origin_usager.ville_naissance"
            form_ng_model="usager.ville_naissance"
            form_placeholder="''"
            form_popover="'ex: Moscou'">
          </simple-text-input-directive>

          <select-referential-directive
            model_listener="usager"
            label="'Pays de naissance *'"
            model="usager.pays_naissance"
            ref_disabled="uDisabled"
            icon="'map-marker'"
            error_model="usager._errors.pays_naissance"
            url="'referentiels/pays'"
            placeholder="''">
          </select-referential-directive>

          <select-referential-directive
            model_listener="usager"
            label="'Nationalité *'"
            model="usager.nationalites"
            ref_disabled="uDisabled"
            icon="'flag'"
            error_model="usager._errors.nationalites"
            url="'referentiels/nationalites'"
            multi_one="true"
            placeholder="''">
          </select-referential-directive>

          <div ng-hide="!usager.demandeur">
            <simple-text-input-directive
              form_label="'Nom du père'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_origin="origin_usager.nom_pere"
              form_error="usager._errors.nom_pere"
              form_icon="'user'"
              form_ng_model="usager.nom_pere"
              form_placeholder="''"
              form_popover="'ex: Dupond'">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Prénom du père'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_icon="'user'"
              form_origin="origin_usager.prenom_pere"
              form_error="usager._errors.prenom_pere"
              form_ng_model="usager.prenom_pere"
              form_placeholder="''"
              form_popover="'ex: Louis'">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Nom de la mère'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_icon="'user'"
              form_ng_model="usager.nom_mere"
              form_origin="origin_usager.nom_mere"
              form_error="usager._errors.nom_mere"
              form_placeholder="''"
              form_popover="'ex: Dupont'">
            </simple-text-input-directive>
            <simple-text-input-directive
              form_label="'Prénom de la mère'"
              upper_first_letter="true"
              form_disabled="uDisabled"
              form_icon="'user'"
              form_ng_model="usager.prenom_mere"
              form_origin="origin_usager.prenom_mere"
              form_error="usager._errors.prenom_mere"
              form_placeholder="''"
              form_popover="'ex: Louise'">
            </simple-text-input-directive>
          </div>

          <div ng-show="usager._errors.usager_info" class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.usager_info}}
          </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5" ng-hide="!usager.demandeur && typeUsager=='usager2'" style="border-left: 1px solid #e2e2e2">

          <h3>Informations complémentaires</h3>
          <hr align="left" />

          <div ng-hide="!usager.demandeur">
            <date-text-input-directive
              label="'Date d\'arrivée en France *'"
              active="!uDisabled"
              model="usager.date_entree_en_france"
              origin_model="origin_usager.date_entree_en_france"
              error="usager._errors.date_entree_en_france"
              approximative="true"
              approximative_model="usager.date_entree_en_france_approximative"
              popover_content="'ex: 15/01/1980'">
            </date-text-input-directive>

            <date-text-input-directive
              label="'Date de départ du pays d\'origine *'"
              active="!uDisabled"
              model="usager.date_depart"
              origin_model="origin_usager.date_depart"
              error="usager._errors.date_depart"
              approximative="true"
              approximative_model="usager.date_depart_approximative"
              popover_content="'ex: 15/01/1980'">
            </date-text-input-directive>

            <array-input-directive
              label="'Pays traversés'"
              u-disabled="uDisabled"
              model="usager.pays_traverses"
              origin_model="origin_usager.pays_traverses"
              error="usager._errors.pays_traverses">
            </array-input-directive>
            <span class="btn btn-primary"
                  ng-show="!uDisabled && paysTraversesReference1 != null"
                  ng-click="usePaysTraversesReference1()"
                  style="margin-bottom: 1em;">
              Récupérer les pays traversés depuis l'usager 1
            </span>
            <span class="btn btn-primary"
                  ng-show="!uDisabled && paysTraversesReference2 != null"
                  ng-click="usePaysTraversesReference2()"
                  style="margin-bottom: 1em;">
              Récupérer les pays traversés depuis l'usager 2
            </span>
          </div>

          <div class="form-group" style="z-index: 30" ng-if="!(typeUsager == 'usager2')">
            <select-referential-directive
              model_listener="origin_usager.situation_familiale"
              label="'Situation familiale *'"
              model="usager.situation_familiale"
              icon="'street-view'"
              ref_disabled="uDisabled"
              error_model="usager._errors.situation_familiale"
              choices="situation_familiale"
              placeholder="''">
            </select-referential-directive>
          </div>

          <div class="form-group">
            <label class="label-icon">Mobilité réduite</label>
            <span toggle-switch-directive
                ng-model="usager.vulnerabilite.mobilite_reduite"
                knob-label=""
                switch-size="small"
                left-label-color="red"
                is-summarised="uDisabled"
                right-label-color="green"
                left-label="Oui"
                right-label="Non"
                left-value="true"
                right-value="false">
            </span>
            <div ng-show="usager._errors.vulnerabilite"
                 class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{usager._errors.vulnerabilite}}
            </div>
          </div>

          <div ng-hide="!usager.demandeur">
            <select-referential-directive
              model_listener="usager"
              label="'Langue(s) comprise(s) *'"
              model="usager.langues"
              several="true"
              icon="'language'"
              ref_disabled="uDisabled"
              error_model="usager._errors.langues"
              url="'referentiels/langues_iso639_2'"
              placeholder="''">
            </select-referential-directive>

            <select-referential-directive
              model_listener="usager"
              multi_one="true"
              label="'Langue d\'audition à l\'OFPRA *'"
              model="usager.langues_audition_OFPRA"
              error_model="usager._errors.langues_audition_OFPRA"
              icon="'language'"
              ref_disabled="uDisabled"
              url="'referentiels/langues_OFPRA'"
              placeholder="''">
            </select-referential-directive>

            <simple-text-input-directive
              form_disabled="uDisabled"
              form_label="'Téléphone'"
              form_origin="origin_usager.telephone"
              form_icon="'phone'"
              form_error="usager._errors.telephone"
              form_ng_model="usager.telephone"
              form_placeholder="''"
              maxlength="22"
              form_popover="'ex: 01 22 33 44 55'">
            </simple-text-input-directive>

            <simple-text-input-directive
              form_disabled="uDisabled"
              form_label="'Email'"
              form_error="usager._errors.email"
              form_icon="'at'"
              form_origin="origin_usager.email"
              form_ng_model="usager.email"
              form_placeholder="''"
              form_popover="'ex: jean.dupond@gmail.com'">
            </simple-text-input-directive>
          </div>

          <div style="z-index: 1;">

            <div class="form-group" ng-if="typeUsager=='enfant' && usager">
              <label class="label-control">Enfant de l'usager 1</label>
              <span toggle-switch-directive
                ng-model="usager.usager_1"
                left-label="Oui"
                knob-label=""
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
            </div>
            <div class="form-group" ng-if="typeUsager=='enfant' && usager">
              <label class="label-control">Enfant de l'usager 2</label>
              <span toggle-switch-directive
                ng-model="usager.usager_2"
                left-label="Oui"
                knob-label=""
                right-label="Non"
                switch-size="small"
                left-label-color="green"
                is-summarised="uDisabled"
                right-label-color="red">
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-sm-12">
          <br />
          <div class="form-group col-sm-11">
            <hr align="left" />
            <h3>
              Adresse *
            </h3>
            <span class="btn btn-primary" ng-show="adresseReference != null" ng-click="useAdresseReference()">Récupérer l'adresse depuis l'usager 1</span>
            <div class="clearfix"></div>
            <br />
            <div class="clearfix"></div>
            <input-location-directive
              location="usager.adresse"
              u_disabled="uDisabled">
            </input-location-directive>
            <div ng-show="usager._errors.adresse" class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.adresse}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
