
<h3 style="margin: 5px;">Résultat(s) FPR</h3>

<div class="col-sm-12" style="margin-bottom: 5px;">
  <br />
  <div class="thumbnail col-sm-12" style="background-color: #fafafa;">
    <h4><strong></strong></h4>

    <div class="col-sm-12">
      <strong class="col-sm-4 specific-margin">Nom</strong>
      <div class="col-sm-8 thumbnail disabled specific-margin">{{fpr_usagers.nom || '-'}}</div>

      <strong class="col-sm-4 specific-margin">Date de naissance</strong>
      <div class="col-sm-8 thumbnail disabled specific-margin">{{fpr_usagers.date_naissance | xinDate: 'shortDate' : '+0000'}}<span ng-show="!fpr_usagers.date_naissance">-</span></div>

      <h4><strong>Dossiers trouvés</strong></h4>

      <div class="col-sm-12 thumbnail" ng-repeat="dossier in fpr_usagers.resultat.dossiers">
        <strong class="col-sm-4 specific-margin">ID FPR</strong>
        <div class="col-sm-8 thumbnail disabled specific-margin">{{dossier.id_fpr || '-'}}</div>

        <strong class="col-sm-4 specific-margin">Sexe</strong>
        <div class="col-sm-8 thumbnail disabled specific-margin">{{dossier.nom || '-'}}</div>

        <strong class="col-sm-4 specific-margin">Statut fiche</strong>
        <div class="col-sm-8 thumbnail disabled specific-margin">{{dossier.statut_fiche || '-'}}</div>

        <strong class="col-sm-4 specific-margin">Message</strong>
        <div class="col-sm-8 thumbnail disabled specific-margin">{{dossier.message || '-'}}</div>

        <h4><strong>Etat(s) civil(s) correspondant(s)</strong></h4>

        <div class="col-sm-12 thumbnail" ng-repeat="ec in dossier.etats_civils">
          <strong class="col-sm-4 specific-margin">Nom</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.nom || '-'}}</div>

          <strong class="col-sm-4 specific-margin">Prénom</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.prenom || '-'}}</div>

          <strong class="col-sm-4 specific-margin">Date de naissance</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.date_naissance | date: 'dd/MM/yyyy'}}<span ng-show="!ec.date_naissance">-</span></div>

          <strong class="col-sm-4 specific-margin">Nationalité</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.nationalite || '-'}}</div>

          <strong class="col-sm-4 specific-margin">Localisation</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.localisation || '-'}}</div>

          <strong class="col-sm-4 specific-margin">Ville</strong>
          <div class="col-sm-8 thumbnail disabled specific-margin">{{ec.ville || '-'}}</div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default" ng-click="cancel()">Annuler</a>
</div>
