<div class="modal-body">
  La modification du rendez-vous du recueil n°{{recueil_da.id}} a été prise en compte.
</div>

<div class="modal-footer">
  <a class="btn btn-primary go-to-list" ng-click="listRecueils()">Retour au guichet unique - enregistrement</a>
  <a class="btn btn-primary go-to-resource" ng-click="showRecueil()">Voir le recueil</a><br /><br />
  <a ng-if="recueil_da.rendez_vous_gu" class="btn btn-success go-to-rdv" ng-click="showRdv()">Imprimer la convocation au rendez-vous</a>
</div>
