<div>
  <h3>Informations de l'usager n°{{usager.id}}</h3>
  <hr align="left">

  <div class="alert alert-danger" ng-show="usager.ecv_valide">
    L'état civil de cet usager est validé par l'OFPRA. Les données correspondantes ne sont plus modifiables.
  </div>

  <div class="alert alert-danger" ng-show="usager._errors._error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors._error}}
  </div>

  <div class="col-sm-12 thumbnail">

    <div class="col-sm-6">
      <simple-text-input-directive
        form_label="'N° usager *'"
        form_icon="'user'"
        form_disabled="true"
        form_ng_model="usager.id"
        form_placeholder="''"
        form_origin="originUsager.id"
        form_error="usager._errors.id">
      </simple-text-input-directive>
    </div>
    <div class="col-sm-6" ng-show="usager.identifiant_agdref">
      <simple-text-input-directive
        form_label="'N° étranger *'"
        form_icon="'user'"
        form_disabled="true"
        form_ng_model="usager.identifiant_agdref"
        form_placeholder="''"
        form_origin="originUsager.identifiant_agdref"
        form_error="usager._errors.identifiant_agdref">
      </simple-text-input-directive>
    </div>

    <div class="col-sm-6" ng-show="usager.identifiant_dna">
      <simple-text-input-directive
        form_label="'N° DN@ *'"
        form_icon="'user'"
        form_disabled="true"
        form_ng_model="usager.identifiant_dna"
        form_placeholder="''"
        form_origin="originUsager.identifiant_dna"
        form_error="usager._errors.identifiant_dna">
      </simple-text-input-directive>
    </div>
    <div class="col-sm-6" ng-show="usager.identifiant_famille_dna">
      <simple-text-input-directive
        form_label="'N° famille DN@ *'"
        form_icon="'user'"
        form_disabled="true"
        form_ng_model="usager.identifiant_famille_dna"
        form_placeholder="''"
        form_origin="originUsager.identifiant_famille_dna"
        form_error="usager._errors.identifiant_famille_dna">
      </simple-text-input-directive>
    </div>

  </div>

  <div class="col-sm-12 thumbnail">
    <h3>Identité</h3>
    <hr align="left">
    <div class="col-sm-5">

      <simple-text-input-directive
        form_label="'Nom *'"
        form_icon="'user'"
        upper_first_letter="true"
        form_disabled="uDisabled"
        form_ng_model="usager.nom"
        form_placeholder="''"
        form_origin="originUsager.nom"
        form_error="usager._errors.nom"
        form_popover="'ex: Dupond'">
      </simple-text-input-directive>

      <select-referential-directive
        model_listener="usager"
        label="'Origine du nom'"
        model="usager.origine_nom"
        ref_disabled="false"
        icon="'street-view'"
        error_model="usager._errors.origine_nom"
        url="''"
        choices="ORIGINE_NOM"
        placeholder="''">
      </select-referential-directive>

      <simple-text-input-directive
        form_label="'Nom d\'usage'"
        form_disabled=" uDisabled"
        form_icon="'user'"
        upper_first_letter="true"
        form_error="usager._errors.nom_usage"
        form_origin="originUsager.nom_usage"
        form_ng_model="usager.nom_usage"
        form_placeholder="''"
        form_popover="'ex: Dupond'">
      </simple-text-input-directive>

      <select-referential-directive
        model_listener="usager"
        label="'Origine du nom d\'usage'"
        model="usager.origine_nom_usage"
        ref_disabled="false"
        icon="'street-view'"
        error_model="usager._errors.origine_nom_usage"
        url="''"
        choices="ORIGINE_NOM"
        placeholder="''">
      </select-referential-directive>

      <list-text-input-directive
        label="'Prénom(s) *'"
        upper_first_letter="true"
        model="usager.prenoms"
        error="usager._errors.prenoms"
        icon="'user'"
        u-disabled="uDisabled"
        placeholder="''"
        origin-model="originUsager.prenoms"
        popover_content="'ex: Jean'">
      </list-text-input-directive>

      <div class="form-group">
        <label class="label-control">Demandeur</label>
        <span toggle-switch-directive
          ng-model="demandeur"
          left-label="Oui"
          knob-label=""
          right-label="Non"
          switch-size="small"
          left-label-color="royalblue"
          is-summarised="true"
          right-label-color="red"
          left-value="true"
          right-value="false">
        </span>
        <div ng-show="usager._errors.demandeur" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.demandeur}}
        </div>
      </div>

      <div class="form-group" ng-if="usager.sexe">
        <label class="label-control">Sexe *</label>
        <span toggle-switch-directive
          ng-model="usager.sexe"
          left-label="M"
          knob-label=""
          right-label="F"
          switch-size="small"
          left-label-color="royalblue"
          is-summarised="uDisabled"
          right-label-color="red"
          left-value="'M'"
          right-value="'F'">
        </span>
        <div ng-show="usager._errors.sexe" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.sexe}}
        </div>
      </div>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-5">
      <photo-directive
        photo-label="'Photo'"
        photo-origin="originUsager.photo"
        usager="usager"
        photo="usager.photo"
        photo-disabled="uDisabled"
        photo-error="usager._errors.photo"
        error-message-if-not-camera="'La prise de photo par webcam est obligatoire.'"
        download-if-not-camera="true">
      </photo-directive>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="col-sm-12 thumbnail">
    <div class="col-sm-5">
      <h3>Informations de naissance</h3>
      <hr align="left">

      <date-text-input-directive
        label="'Date de naissance *'"
        active="!uDisabled"
        model="usager.date_naissance"
        origin_model="originUsager.date_naissance"
        error="usager._errors.date_naissance"
        approximative="true"
        approximative_model="usager.date_naissance_approximative"
        popover_content="'ex: 15/01/1980'">
      </date-text-input-directive>

      <div class="col-sm-12" ng-show="minor_child">
        <h4>Représentant légal</h4>
        <simple-text-input-directive
          form_label="'Nom du représentant'"
          form_disabled="false"
          upper_first_letter="true"
          form_origin="originUsager.representant_legal_nom"
          form_error="usager._errors.representant_legal_nom"
          form_icon="'user'"
          form_ng_model="usager.representant_legal_nom"
          form_placeholder="''"
          form_popover="'ex: Dupond'">
        </simple-text-input-directive>
        <simple-text-input-directive
          form_label="'Prénom du représentant'"
          form_disabled="false"
          upper_first_letter="true"
          form_origin="originUsager.representant_legal_prenom"
          form_error="usager._errors.representant_legal_prenom"
          form_icon="'user'"
          form_ng_model="usager.representant_legal_prenom"
          form_placeholder="''"
          form_popover="'ex: Louis'">
        </simple-text-input-directive>
        <div class="form-group">
          <label class="label-control">Personne morale ?</label>
          <br>
          <span toggle-switch-directive
            ng-model="usager.representant_legal_personne_morale"
            left-label="Oui"
            knob-label=""
            right-label="Non"
            switch-size="small"
            left-label-color="green"
            is-summarised="false"
            right-label-color="red">
          </span>
          <span ng-show="usager._errors.representant_legal_personne_morale" class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.representant_legal_personne_morale}}
          </span>
        </div>
        <simple-text-input-directive
          form_label="'Désignation de la personne morale'"
          form_disabled="false"
          form_hide="!usager.representant_legal_personne_morale"
          form_origin="originUsager.representant_legal_personne_morale_designation"
          form_error="usager._errors.representant_legal_personne_morale_designation"
          form_icon="'user'"
          form_ng_model="usager.representant_legal_personne_morale_designation"
          form_placeholder="''">
        </simple-text-input-directive>
        <hr align="left">
      </div>

      <simple-text-input-directive
        form_label="'Ville de naissance *'"
        form_disabled="uDisabled"
        form_error="usager._errors.ville_naissance"
        extend_icon="true"
        form_icon="'map-marker'"
        form_origin="usager.ville_naissance"
        form_ng_model="usager.ville_naissance"
        form_placeholder="''"
        form_popover="'ex: Moscou'">
      </simple-text-input-directive>

      <select-referential-directive
        model_listener="usager"
        label="'Pays de naissance *'"
        model="usager.pays_naissance"
        ref_disabled="uDisabled"
        icon="'map-marker'"
        error_model="usager._errors.pays_naissance"
        url="'referentiels/pays'"
        placeholder="''">
      </select-referential-directive>

      <select-referential-directive
        model_listener="usager"
        label="'Nationalité *'"
        model="usager.nationalites"
        ref_disabled="uDisabled"
        icon="'flag'"
        error_model="usager._errors.nationalites"
        url="'referentiels/nationalites'"
        multi_one="true"
        placeholder="''">
      </select-referential-directive>

      <div ng-show="usager._errors.usager_info" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.usager_info}}
      </div>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-5" style="border-left: 1px solid #e2e2e2">

      <h3>Informations complémentaires</h3>
      <hr align="left">

      <div class="form-group" style="z-index: 30" ng-if="!(typeUsager == 'usager2')">
        <label class="label-control">Situation familiale *</label>
        <div class="input-group" style="z-index: 20">
          <div class="input-group-addon"><i class="fa fa-lg fa-street-view"></i></div>
          <select style="z-index: 15" ng-disabled="uDisabled" ng-model="usager.situation_familiale" class="form-control" data-dropup-auto="false" title="" required="required">
            <option value=""></option>
            <option value="CELIBATAIRE">Célibataire</option>
            <option value="DIVORCE">Divorcé(e)</option>
            <option value="MARIE">Marié(e)</option>
            <option value="CONCUBIN">Concubin(e)</option>
            <option value="SEPARE">Séparé(e)</option>
            <option value="VEUF">Veuf(ve)</option>
            <option value="PACSE">Pacsé(e)</option>
          </select>
          <div class="input-group-addon alert-warning" ng-if="usager.situation_familiale != usager.situation_familiale"><i class="fa fa-lg fa-pencil"></i></div>
        </div>
        <span ng-show="usager._errors.situation_familiale" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.situation_familiale}}
        </span>
      </div>

      <select-referential-directive
        model_listener="usager"
        label="'Langue(s) comprise(s)'"
        model="usager.langues"
        several="true"
        icon="'language'"
        ref_disabled="false"
        error_model="usager._errors.langues"
        url="'referentiels/langues_iso639_2'"
        placeholder="''">
      </select-referential-directive>

      <select-referential-directive
        model_listener="usager" multi_one="true"
        label="'Langue d\'audition à l\'OFPRA'"
        model="usager.langues_audition_OFPRA"
        error_model="usager._errors.langues_audition_OFPRA"
        icon="'language'"
        ref_disabled="false"
        url="'referentiels/langues_OFPRA'"
        placeholder="''">
      </select-referential-directive>

      <simple-text-input-directive
        form_disabled="false"
        form_label="'Téléphone'"
        form_origin="usager.telephone"
        form_icon="'phone'"
        form_error="usager._errors.telephone"
        form_ng_model="usager.telephone"
        form_placeholder="''"
        maxlength="22"
        form_popover="'ex: 01 22 33 44 55'">
      </simple-text-input-directive>

      <simple-text-input-directive
        form_disabled="false"
        form_label="'Email'"
        form_error="usager._errors.email"
        form_icon="'at'"
        form_origin="usager.email"
        form_ng_model="usager.email"
        form_placeholder="''"
        form_popover="'ex: jean.dupond@gmail.com'">
      </simple-text-input-directive>

      <div ng-show="usager.numero_passeport">
        <simple-text-input-directive
          form_disabled="true"
          form_label="'Numéro passeport'"
          form_error="usager._errors.numero_passeport"
          form_icon="'file'"
          form_origin="usager.numero_passeport"
          form_ng_model="usager.numero_passeport"
          form_placeholder="''">
        </simple-text-input-directive>
      </div>

      <div ng-show="usager.date_expiration_passeport">
        <date-text-input-directive
          label="'Date d\'expiration du passeport *'"
          active="false"
          model="usager.date_expiration_passeport"
          origin_model="originUsager.date_expiration_passeport"
          error="usager._errors.date_expiration_passeport"
          approximative="false">
        </date-text-input-directive>
      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>

  <div class="col-sm-12 thumbnail">
    <h3>Composition familiale</h3>
    <hr align="left">

    <div class="col-sm-5">
      <h3>Parents</h3>
      <div ng-show="!usager.identifiant_pere.id">
        <simple-text-input-directive
          form_label="'Nom du père'"
          form_disabled="uDisabled"
          upper_first_letter="true"
          form_origin="usager.nom_pere"
          form_error="usager._errors.nom_pere"
          form_icon="'user'"
          form_ng_model="usager.nom_pere"
          form_placeholder="''">
        </simple-text-input-directive>
        <simple-text-input-directive
          form_label="'Prénom du père'"
          form_disabled="uDisabled"
          upper_first_letter="true"
          form_icon="'user'"
          form_origin="usager.prenom_pere"
          form_error="usager._errors.prenom_pere"
          form_ng_model="usager.prenom_pere"
          form_placeholder="''">
        </simple-text-input-directive>
      </div>
      <div ng-show="pere">
        <strong ng-if="pere.id">
          Accéder au père :
          <a href="#/usagers/{{pere.id}}{{overall ? '?overall' : ''}}">
            Usager n°{{pere.id}} -
            <span ng-repeat="prenom in pere.prenoms">{{prenom}} </span>
            {{pere.nom}}
          </a>
          <span ng-show="pere.identifiant_agdref">
            (N° étranger : {{pere.identifiant_agdref}})
          </span>
        </strong>
        <strong ng-if="!pere.id" class="thumbnail">
          Le père, dont le numéro usager est "{{pere.usager_id}}"
          est rattaché à la préfecture {{pere.prefecture_rattachee.libelle}}
          ({{pere.prefecture_rattachee.telephone}}).
          Contactez cette préfecture pour obtenir plus d'informations.
        </strong>
    </div>
      <div ng-show="!usager.identifiant_mere.id">
        <simple-text-input-directive
          form_label="'Nom de la mère'"
          form_disabled="uDisabled"
          form_icon="'user'"
          upper_first_letter="true"
          form_ng_model="usager.nom_mere"
          form_origin="usager.nom_mere"
          form_error="usager._errors.nom_mere"
          form_placeholder="''">
        </simple-text-input-directive>
        <simple-text-input-directive
          form_label="'Prénom de la mère'"
          form_disabled="uDisabled"
          upper_first_letter="true"
          form_icon="'user'"
          form_ng_model="usager.prenom_mere"
          form_origin="usager.prenom_mere"
          form_error="usager._errors.prenom_mere"
          form_placeholder="''">
        </simple-text-input-directive>
      </div>
      <div ng-show="mere">
        <strong ng-if="mere.id">
          Accéder à la mère :
          <a href="#/usagers/{{mere.id}}{{overall ? '?overall' : ''}}">
            Usager n°{{mere.id}} -
            <span ng-repeat="prenom in mere.prenoms">{{prenom}} </span>
            {{mere.nom}}
          </a>
          <span ng-show="mere.identifiant_agdref">
            (N° étranger : {{mere.identifiant_agdref}})
          </span>
        </strong>
        <strong ng-if="!mere.id" class="thumbnail">
          La mère, dont le numéro usager est "{{mere.usager_id}}"
          est rattachée à la préfecture {{mere.prefecture_rattachee.libelle}}
          ({{mere.prefecture_rattachee.telephone}}).
          Contactez cette préfecture pour obtenir plus d'informations.
        </strong>
      </div>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-5" style="border-left: 1px solid #e2e2e2">
      <h3>Famille</h3>
      <div ng-show="conjoint">
        <strong ng-if="conjoint.id">
          Accéder au conjoint :
          <a href="#/usagers/{{conjoint.id}}{{overall ? '?overall' : ''}}">
            Usager n°{{conjoint.id}} -
            <span ng-repeat="prenom in conjoint.prenoms">{{prenom}} </span>
            {{conjoint.nom}}
          </a>
          <span ng-show="conjoint.identifiant_agdref">
            (N° étranger : {{conjoint.identifiant_agdref}})
          </span>
        </strong>
        <strong class="thumbnail" ng-if="!conjoint.id">
          Le conjoint, dont le numéro usager est "{{conjoint.usager_id}}",
          est rattaché à la préfecture {{conjoint.prefecture_rattachee.libelle}}
          ({{conjoint.prefecture_rattachee.telephone}}).
          Contactez cette préfecture pour obtenir plus d'informations.
        </strong>
        <br>
        <br>
      </div>
      <div ng-show="!conjoint">
        <strong>Pas de conjoint</strong>
      </div>
      <div ng-show="enfants.length > 0">
        <strong ng-repeat="enfant in enfants">
          <span ng-if="enfant.id">
            Accéder à l'enfant :
            <a href="#/usagers/{{enfant.id}}{{overall ? '?overall' : ''}}">
              Usager n°{{enfant.id}} -
              <span ng-repeat="prenom in enfant.prenoms">{{prenom}} </span>
              {{enfant.nom}}
            </a>
            <span ng-show="enfant.identifiant_agdref">
              (N° étranger : {{enfant.identifiant_agdref}})
            </span>
            <br>
          </span>
          <span class="thumbnail" ng-if="!enfant.id">
            L'enfant, dont le numéro usager est "{{enfant.usager_id}}"
            est rattaché à la préfecture {{enfant.prefecture_rattachee.libelle}}
            ({{enfant.prefecture_rattachee.telephone}}).
            Contactez cette préfecture pour obtenir plus d'informations.
          </span>
        </strong>
      </div>
      <div ng-show="enfants.length == 0">
        <strong>Pas d'enfant</strong>
      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>

  <div class="col-sm-12 thumbnail">
    <h3>Localisations</h3>
    <hr align="left">

    <div class="col-sm-12">
      <div class="panel panel-default"
           ng-show="localisations">
        <div class="panel-heading" role="tab" id="headingPartenaires">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href=".collapsePartenaires"
               aria-expanded="true" aria-controls="">
              Mise à jour de l'adresse par un partenaire
            </a>
          </h4>
        </div>
        <div class="collapsePartenaires panel-collapse collapse collapsed"
             role="tabpanel" aria-labelledby="headingPartenaires">
          <div class="panel-body" ng-repeat="elt in localisations">
            <h4>
              <span ng-if="elt.organisme_origine == 'DNA'">Mise à jour de DN@:</span>
              <span ng-if="elt.organisme_origine == 'AGDREF'">Mise à jour d'AGDREF:</span>
              <span ng-if="elt.organisme_origine == 'INEREC'">Mise à jour d'OFPRA:</span>
            </h4>
            <div class="col-sm-12">
              <label class="label-control">Organisme à l'origine de la mise à jour</label>
              <input ng-disabled="true" class="form-control" ng-model="elt.organisme_origine">
              <date-text-input-directive
                label="'Date de mise à jour'"
                active="false"
                model="elt.date_maj">
              </date-text-input-directive>
              <label class="label-control">Chez</label>
              <input ng-disabled="true" class="form-control" ng-model="elt.adresse.chez">
              <label class="label-control">Complément</label>
              <input ng-disabled="true" class="form-control"
                     ng-model="elt.adresse.complement">
              <label class="label-control">Numéro de voie</label>
              <input ng-disabled="true" class="form-control" ng-model="elt.adresse.numero_voie">
              <label class="label-control">Voie</label>
              <input ng-disabled="true" class="form-control" ng-model="elt.adresse.voie">
              <label class="label-control">Informations liées à la ville</label>
              <div class="thumbnail col-sm-12">
                <div class="col-sm-12">
                  <label class="label-control">Ville</label>
                  <input ng-disabled="true" class="form-control" ng-model="elt.adresse.ville">
                  <label class="label-control">Code Insee</label>
                  <input ng-disabled="true" class="form-control" ng-model="elt.adresse.code_insee">
                  <label class="label-control">Code Postal</label>
                  <input ng-disabled="true" class="form-control" ng-model="elt.adresse.code_postal">
                </div>
              </div>
            </div>

            <select-referential-directive
              model-listener="elt.adresse.pays"
              label="'Pays'"
              model="elt.adresse.pays.code"
              icon="'map-marker'"
              url="'referentiels/pays'"
              ref-disabled="true">
            </select-referential-directive>
          </div>
        </div>
      </div>

      <h3>
        Adresse
        <sc-button ng-if="!uDisabled"
                class="btn btn-primary"
                ng-click="changeAddress()"
                wait-for-class="fa fa-spinner fa-1 fa-pulse"
                cancel-wait-for="addressDone"
                label="'Modifier l\'adresse'">
        </sc-button>
      </h3>

      <input-location-directive
        location="portail.adresse"
        u-disabled="true">
      </input-location-directive>

      <span ng-show="usager._errors.localisation" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{usager._errors.localisation}}
      </span>
    </div>
  </div>


  <div class="col-sm-12 thumbnail" ng-if="usager.date_naturalisation">
    <h3>Naturalisation</h3>
    <hr align="left">
    <date-text-input-directive
      label="'Date de naturalisation'"
      active="false"
      model="usager.date_naturalisation"
      origin_model="originUsager.date_naturalisation"
      error="usager._errors.date_naturalisation"
      approximative="false">
    </date-text-input-directive>
  </div>

  <div class="col-sm-12 thumbnail" ng-if="usager.ecv_valide || usager.enfant_de_refugie">
    <h3>Etat civil validé OFPRA</h3>
    <hr align="left">

    <div class="form-group col-sm-12" ng-if="usager.ecv_valide">
      <label class="label-control">Etat-civil validé</label>
      <span toggle-switch-directive
        ng-model="usager.ecv_valide"
        left-label="Oui"
        knob-label=""
        right-label="Non"
        switch-size="small"
        left-label-color="royalblue"
        is-summarised="true"
        right-label-color="red"
        left-value="true"
        right-value="false">
      </span>
      <div ng-show="usager._errors.sexe" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.sexe}}
      </div>
    </div>

    <div class="form-group">
      <label class="label-control">Enfant de réfugié ? </label>
      <span toggle-switch-directive
        ng-model="usager.enfant_de_refugie"
        left-label="Oui"
        knob-label="Non précisé"
        right-label="Non"
        switch-size="small"
        left-label-color="royalblue"
        is-summarised="true"
        right-label-color="red"
        left-value="true"
        right-value="false">
      </span>
      <div ng-show="usager._errors.enfant_de_refugie" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{usager._errors.enfant_de_refugie}}
      </div>
    </div>
  </div>

  <div class="col-sm-12 thumbnail" ng-if="demandes_asile.length > 0">
    <h3>Droits</h3>
    <hr align="left">
    <div class="thumbnail" style="background-color: #f2f2f2;"
         ng-repeat="demande in demandes_asile">
      <a ng-href="#/{{demande.statut == 'PRETE_EDITION_ATTESTATION' ? 'attestations' : 'demandes-asiles'}}/{{demande.id}}{{overall ? '?overall' : ''}}">
        Demande n°{{demande.id}}
      </a>
      <br>
      <table border="2" class="table" cellspacing="1">
        <thead>
          <th>Type de document</th>
          <th>Type d'attestation</th>
          <th>Date de début de validité</th>
          <th>Date de fin de validité</th>
          <th>Retrait</th>
          <th>Supports</th>
        </thead>
        <tbody ng-repeat="type_droit in ['PREMIERE_DELIVRANCE', 'PREMIER_RENOUVELLEMENT', 'EN_RENOUVELLEMENT']">
          <tr ng-repeat="droit in demande.droits | filter:{sous_type_document:type_droit}">
            <td>
              {{TYPE_DOCUMENT[droit.type_document]}}
            </td>
            <td>
              {{SOUS_TYPE_DOCUMENT[droit.sous_type_document]}}
              <span ng-show="$index > 0 && type_droit != 'EN_RENOUVELLEMENT'">
                <br>(réédition)
              </span>
            </td>
            <td>
              {{droit.date_debut_validite | xinDate : 'shortDate' : '+0000'}}
            </td>
            <td>
              {{droit.date_fin_validite | xinDate : 'shortDate' : '+0000'}}
            </td>
            <td>
              <strong ng-show="droit.date_retrait_attestation">Oui</strong>
              <strong ng-show="!droit.date_retrait_attestation">Non</strong>
            </td>
            <td>
              <div ng-repeat="support in droit.supports">
                N° <strong>{{support.numero_serie}}</strong>
                délivré le <strong>{{support.date_delivrance | xinDate : 'shortDate' : '+0000'}}</strong>
                à <strong>{{lieux_delivrance[support.lieu_delivrance.id]}}</strong>
                <strong style="color:red" ng-show="support.motif_annulation">
                  [Annulé pour {{support.motif_annulation}}]
                </strong>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody>
        <tr ng-repeat="droit in da.droits | filter:{sous_type_document:'PREMIER_RENOUVELLEMENT'}">
          <td>
            {{TYPE_DOCUMENT[droit.type_document]}}
          </td>
          <td>
            {{SOUS_TYPE_DOCUMENT[droit.sous_type_document]}}
            <span ng-show="$index > 0"><br>(réédition)</span>
          </td>
          <td>
            {{droit.date_debut_validite | xinDate : 'shortDate' : '+0000'}}
          </td>
          <td>
            {{droit.date_fin_validite | xinDate : 'shortDate' : '+0000'}}
          </td>
          <td>
            <strong>{{droit.date_retrait_attestation? "Oui" : "Non"}}</strong>
          </td>
          <td>
            <div ng-repeat="support in droit.supports">
              N° <strong>{{support.numero_serie}}</strong>
              délivré le <strong>{{support.date_delivrance | xinDate : 'shortDate' : '+0000'}}</strong>
              à <strong>{{lieux_delivrances[support.lieu_delivrance.id]}}</strong>
              <strong style="color:red" ng-show="support.motif_annulation">
                [Annulé pour {{support.motif_annulation}}]
              </strong>
            </div>
          </td>
        </tr>
        </tbody>
        <tbody>
        <tr ng-repeat="droit in da.droits | filter:{sous_type_document:'EN_RENOUVELLEMENT'}">
          <td>
            {{TYPE_DOCUMENT[droit.type_document]}}
          </td>
          <td>
            {{SOUS_TYPE_DOCUMENT[droit.sous_type_document]}}
          </td>
          <td>
            {{droit.date_debut_validite | xinDate : 'shortDate' : '+0000'}}
          </td>
          <td>
            {{droit.date_fin_validite | xinDate : 'shortDate' : '+0000'}}
          </td>
          <td>
            <strong>{{droit.date_retrait_attestation? "Oui" : "Non"}}</strong>
          </td>
          <td>
            <div ng-repeat="support in droit.supports">
              N° <strong>{{support.numero_serie}}</strong>
              délivré le <strong>{{support.date_delivrance | xinDate : 'shortDate' : '+0000'}}</strong>
              à <strong>{{lieux_delivrances[support.lieu_delivrance.id]}}</strong>
              <strong style="color:red" ng-show="support.motif_annulation">
                [Annulé pour {{support.motif_annulation}}]
              </strong>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <span ng-show="demande.renouvellement_attestation > 1 &&
                     demande.renouvellement_attestation-2 < demande.nb_en_renouvellement">
        Dont {{demande.nb_en_renouvellement-(demande.renouvellement_attestation-2)}}
        réédition<span ng-show="demande.nb_en_renouvellement-(demande.renouvellement_attestation-2) > 1">s</span>
        d'attestation au statut EN_RENOUVELLEMENT
      </span>
    </div>
  </div>

  <div class="col-sm-12 thumbnail" ng-if="demandes_asile.length > 0">
    <h3>Demandes d'asile</h3>
    <hr align="left">
    <div class="col-sm-12 thumbnail" style="background-color: #f2f2f2;"
         ng-repeat="demande in demandes_asile">
      <div class="col-sm-12">
        <a ng-href="#/{{demande.statut == 'PRETE_EDITION_ATTESTATION' ? 'attestations' : 'demandes-asiles'}}/{{demande.id}}{{overall ? '?overall' : ''}}">
          Demande n°{{demande.id}}
        </a>
        (Statut : <strong>{{DA_STATUT[demande.statut]}}</strong>)
      </div>
      <div class="col-sm-4">
        Type de demande :
        <strong>{{(TYPE_DEMANDE | filter: {id: demande.type_demande})[0].libelle}}</strong>
        <br>
        <span ng-if="demande.type_demande == 'REEXAMEN'">
          N° réexamen : <strong>{{demande.numero_reexamen}}</strong>
          <br>
        </span>
        N° Eurodac : <strong>{{demande.usager_identifiant_eurodac}}</strong>
        <br>
        Date de demande :
        <strong>{{demande.date_demande | xinDate: 'shortDate' : '+0000'}}</strong>
        <br>
        Type de procédure : <strong>{{TYPE_PROCEDURE[demande.procedure.type]}}</strong>
      </div>
      <div class="col-sm-4">
        Date d'arrivée en France :
        <strong>{{demande.date_entree_en_france | xinDate: 'shortDate' : '+0000'}}</strong>
        <br>
        Conditions d'entrée en France :
        <strong>{{ (CONDITION_ENTREE_EN_FRANCE | filter : {id: demande.condition_entree_france})[0].libelle}}</strong>
        <br>
        Visa : <strong>{{demande.visa == 'AUCUN' ? 'Aucun' : demande.visa}}</strong>
        <br>
        Conditions exceptionnelles d'accueil :
        <strong>{{demande.conditions_exceptionnelles_accueil ? 'Oui' : 'Non'}}</strong>
        <br>
        <span ng-if="demande.conditions_exceptionnelles_accueil == true">
          Motif conditions exceptionnelles d'accueil :
          <strong>{{ (CONDITIONS_EXCEPTIONNELLES_ACCUEIL | filter : {id: demande.motif_conditions_exceptionnelles_accueil})[0].libelle}}</strong>
          <br>
        </span>
      </div>
      <div class="col-sm-4">
        <span ng-if="demande.recevabilite">
          Recevabilité : <strong>{{demande.recevabilite.recevabilite? "Oui":"Non"}}</strong>
          <br>
          Date de la recevabilité :
          <strong>{{demande.recevabilite.date_notification | xinDate : 'shortDate' : '+0000'}}</strong>
          <br>
        </span>
        <span ng-if="demande.decision_definitive">
          Nature de la décision :
          <strong>
            {{DECISION_DEFINITIVE_RESULTAT[demande.decision_definitive.entite][demande.decision_definitive.nature]}}
            -
            {{DECISION_DEFINITIVE_NATURE[demande.decision_definitive.entite][demande.decision_definitive.nature]}}
          </strong>
          <br>
          Date de la décision :
          <strong>{{demande.decision_definitive.date | xinDate : 'shortDate' : '+0000'}}</strong>
          <br>
          Date de la notification :
          <strong>{{demande.decision_definitive.date_notification | xinDate : 'shortDate' : '+0000'}}</strong>
        </span>
      </div>
    </div>
  </div>
</div>
