<div class="modal-header">
  <h3 style="margin: 2px;">
    Éditer une attestation
    <span ng-show="choice == 'DUPLICATA'">(Duplicata)</span>
    <span ng-show="choice == 'REEDITION'">(Ré-édition)</span>
    <span ng-show="choice == 'RENOUVELLEMENT'">(Renouvellement)</span>
  </h3>
</div>

<div class="modal-body">
  <div ng-show="choice == 'DUPLICATA'">
    <strong style="color: red">Rappel : Utiliser l'imprimante avec le papier sécurisé pour imprimer l'attestation</strong>
  </div>

  <div ng-show="choice == 'REEDITION' || choice == 'RENOUVELLEMENT'">
    <strong>
      En validant, vous allez générer l'attestation de demande d'asile et ajouter informatiquement un nouveau droit à cet usager.
      <br>
      <span style="color: red;">Rappel : utiliser l'imprimante avec le papier sécurisé pour imprimer l'attestation</span>
    </strong>
  </div>
  <br>
  <br>

  <div class="form-group">
    <label class="label-control">Décision sur délivrance de l'attestation *</label>
    <br>
    <span toggle-switch-directive
      ng-model="decision_sur_attestation"
      left-label="Oui"
      knob-label=""
      right-label="Non"
      switch-size="small"
      left-label-color="royalblue"
      is-summarised="!decisionSurAttestationAllowed"
      right-label-color="red">
    </span>
    <div ng-show="_errors.decision_sur_attestation" class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{_errors.decision_sur_attestation}}
    </div>
  </div>

  <div ng-show="da.type_demande == 'REEXAMEN' &&
                decision_sur_attestation &&
                recevabilite">
    <select-referential-directive model="motif_decision_attestation.accord"
                                  choices="motif_delivrance_attestation"
                                  ref-disabled="!allow_motif_delivrance_attestation"
                                  label="'Motif de délivrance *'"
                                  error-model="_errors.motif_decision_attestation.accord">
    </select-referential-directive>
  </div>
  <div ng-show="da.type_demande == 'REEXAMEN' &&
                !decision_sur_attestation">
    <select-referential-directive model="motif_decision_attestation.refus"
                                  choices="motif_non_delivrance_attestation"
                                  label="'Motif de non délivrance *'"
                                  error-model="_errors.motif_decision_attestation.refus">
    </select-referential-directive>
  </div>

  <date-text-input-directive
    label="'Date de décision sur attestation *'"
    active="DateDeDecisionAllowed"
    model="date_decision_sur_attestation"
    origin-model="date_decision_sur_attestation"
    error="_errors.date_decision">
  </date-text-input-directive>

  <hr>
  <div ng-show="choice == 'NO_CHOICE' && decision_sur_attestation == true">
    <div>
      <button class="btn btn-primary" ng-click="duplicata()"
              ng-disabled="!duplicata_enabled">
        Duplicata
      </button>
      <div class="alert alert-warning" ng-if="duplicata_disabled_motif">
        <i>({{duplicata_disabled_motif}})</i>
      </div>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" ng-click="reedit()"
              ng-disabled="!reedition_enabled">
        Ré-édition
      </button>
      <div class="alert alert-warning" ng-if="reedition_disabled_motif">
        <i>({{reedition_disabled_motif}})</i>
      </div>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" ng-click="renewal()"
              ng-disabled="!renouvellement_enabled">
        <span ng-if="da.renouvellement_attestation == 1">Premier renouvellement</span>
        <span ng-if="da.renouvellement_attestation >= 2">Renouvellement ultérieur</span>
      </button>
      <div class="alert alert-warning" ng-if="renouvellement_disabled_motif">
        <i>({{renouvellement_disabled_motif}})</i>
      </div>
    </div>
  </div>

  <div ng-show="choice == 'DUPLICATA'">
    <div ng-show="duplicata_need_motif">
      <i><strong>Merci d'indiquer un motif pour l'édition de ce duplicata</strong></i>
      <select class="form-control" ng-model="motif_annulation">
        <option value="">Choisissez un motif de duplicata</option>
        <option value="VOL">Vol</option>
        <option value="PERTE">Perte</option>
        <option value="DEGRADATION">Dégradation</option>
      </select>
      <div ng-show="motif_annulation=='DEGRADATION'" class="alert alert-warning">
        <input type="checkbox" ng-model="duplicata_destruction"> L'attestation en cours a été détruite.
      </div>
      <div ng-show="_errors.motif_annulation" class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{_errors.motif_annulation}}
      </div>
    </div>
  </div>

  <div ng-show="choice == 'REEDITION' || choice == 'RENOUVELLEMENT'">
    <date-text-input-directive
      ng-show="decision_sur_attestation"
      label="'Début de validité de la nouvelle attestation'"
      model="date_debut_validite"
      active="true"
      origin-model="date_debut_validite"
      error="_errors.date_debut_validite"
      approximative="false">
    </date-text-input-directive>

    <date-text-input-directive
      label="'Fin de validité de la nouvelle attestation (calcul automatique)'"
      ng-show="decision_sur_attestation"
      active="false"
      model="date_fin_validite"
      origin-model="date_fin_validite"
      error="_errors.date_fin_validite"
      approximative="false">
    </date-text-input-directive>

    <div ng-show="choice == 'REEDITION' && decision_sur_attestation"
         class="alert alert-warning">
      <input type="checkbox" ng-model="destruction">
      Je m'engage à détruire l'attestation erronée.
    </div>
    <div ng-show="motif_error" class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{motif_error}}
    </div>
  </div>
</div>

<div class="alert alert-danger"
     ng-show="(choice == 'NO_CHOICE' || choice == 'REEDITION' || choice == 'RENOUVELLEMENT') &&
              da.type_demande == 'REEXAMEN' &&
              decision_sur_attestation &&
              !recevabilite">
  L’OFPRA n’a pas encore notifié sa décision de recevabilité/irrecevabilité dans le portail.
  <span ng-show="choice != 'NO_CHOICE'">Confirmez-vous votre choix sur la délivrance de l’attestation ?</span>
</div>
<div class="alert alert-danger"
     ng-show="da.type_demande == 'REEXAMEN' &&
              !decision_sur_attestation &&
              recevabilite && recevabilite.recevabilite">
  La demande de réexamen a été déclarée recevable par l’OFPRA.
  <span>Confirmez-vous votre refus de délivrer d’attestation ?</span>
</div>
<div ng-show="choice == 'RENOUVELLEMENT' && renouvellement_confirmed"
     class="modal-body">
  <div ng-show="da.renouvellement_attestation == 1">
    <strong>
      Etes-vous sûr de vouloir procéder à un premier renouvellement ?
      <br><br>
      Vous ne pourrez plus rééditer d'attestation de première délivrance par la suite.
    </strong>
  </div>
  <div ng-show="da.renouvellement_attestation == 2">
    <strong>
      Etes-vous sûr de vouloir procéder à un renouvellement ultérieur au 1er renouvellement ?
      <br><br>
      Vous ne pourrez plus rééditer d'attestation de premier renouvellement par la suite.
    </strong>
  </div>
  <div ng-show="da.renouvellement_attestation >= 3">
    <strong>
      Etes-vous sûr de vouloir procéder à un nouveau renouvellement ultérieur au 1er renouvellement ?
    </strong>
  </div>
  <br>
</div>

<div class="modal-footer">
  <sc-button class="btn btn-primary button-confirm"
          ng-click="saveNoDelivery()"
          ng-show="decision_sur_attestation == false"
          wait-for-class="fa fa-spinner fa-1 fa-pulse"
          label="'Valider'"
          cancel-wait-for="noDeliveryDone">
  </sc-button>
  <sc-button class="btn btn-primary button-confirm"
             ng-click="saveDuplicata()"
             ng-show="choice == 'DUPLICATA'"
             wait-for-class="fa fa-spinner fa-1 fa-pulse"
             label="'Valider'"
             cancel-wait-for="duplicataDone">
  </sc-button>
  <sc-button class="btn btn-primary button-confirm"
             ng-click="saveReedition()"
             ng-show="choice == 'REEDITION'"
             wait-for-class="fa fa-spinner fa-1 fa-pulse"
             label="'Valider'"
             cancel-wait-for="reeditionDone">
  </sc-button>
  <sc-button class="btn btn-primary button-confirm"
             ng-click="saveRenewal()"
             ng-show="choice == 'RENOUVELLEMENT'"
             wait-for-class="fa fa-spinner fa-1 fa-pulse"
             label="'Valider'"
             cancel-wait-for="renewalDone">
  </sc-button>
  <a class="btn btn-default button-cancel" ng-click="cancel()">Annuler</a>
</div>
