<div class="modal-body">
  <div ng-show="etat == 'form'">
    <div class="alert alert-danger" ng-show="requalification._errors._errors">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{requalification._errors._errors}}
    </div>

    <date-text-input-directive
      label="'Date de notification *'"
      active="true"
      model="requalification.date_notification"
      error="requalification._errors.date_notification">
    </date-text-input-directive>

    <select-referential-directive
      label="'Type de procédure *'"
      icon="'file'"
      model="requalification.type"
      choices="selectTypeProcedure"
      error_model="requalification._errors.type">
    </select-referential-directive>

    <select-referential-directive
      label="'Motif de qualification *'"
      icon="'tag'"
      model="requalification.motif_qualification"
      choices="selectMotifQualification"
      error_model="requalification._errors.motif_qualification">
    </select-referential-directive>
  </div>

  <div ng-show="etat == 'success'">
    Le type de procédure a bien été modifié.
  </div>
  <div ng-show="etat == 'successAndRedirectToEditionAttestation'">
    Le type de procédure a bien été modifié.
    Vous serez directement dirigé sur l'attestation de l'usager.
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-default button-confirm" ng-click="cancel()"
     ng-show="etat != 'success' && etat != 'successAndRedirectToEditionAttestation' ">Annuler</a>
  <sc-button class="btn btn-primary button-confirm"
             ng-click="ok()"
             ng-show="etat == 'form'"
             wait-for-class="fa fa-spinner fa-1 fa-pulse"
             cancel-wait-for="saveDone"
             label="'Valider'">
  </sc-button>
  <a class="btn btn-primary button-confirm" ng-click="finish()"
     ng-show="etat == 'success'">Confirmer</a>
  <a class="btn btn-primary button-confirm" ng-click="attestationCible()"
     ng-show="etat == 'successAndRedirectToEditionAttestation'">Confirmer</a>
</div>
