<div class="form-group">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>
  <div class="input-group">
    <div class="input-group-addon">
      <div class="dropdown">
        <a class="dropdown-toggle toggle-select_date_{{date_id}}" id="dLabel_date_{{date_id}}" role="button" data-toggle="dropdown" data-target="#" href="">
          <i class="fa fa-lg fa-calendar"></i>
        </a>
        <ul  ng-show="active" class="dropdown-menu" role="menu" aria-labelledby="dLabel_date_{{date_id}}">
          <div ng-show="!withHour">
            <datetimepicker
              data-ng-model="model"
              data-on-set-time="onTimeSet(newDate, oldDate)"
              data-datetimepicker-config="{
                dropdownSelector: '.toggle-select_date_{{date_id}}',
                startView : 'year',
                minView: 'day'}">
            </datetimepicker>
          </div>
          <div ng-show="withHour">
            <datetimepicker
              data-ng-model="model"
              data-on-set-time="onTimeSet(newDate, oldDate)"
              data-datetimepicker-config="{
                dropdownSelector: '.toggle-select_date_{{date_id}}',
                startView : 'year',
                minuteStep: 15}">
            </datetimepicker>
          </div>
        </ul>
      </div>
    </div>
    <input ng-readonly="!active" type="text" class="form-control" ng-model="textDate" ng-blur="handleInputDate()" />

    <div ng-show="approximative" class="input-group-addon">Approximative ?</div>
    <div ng-show="approximative" class="input-group-addon"><input ng-disabled="!active" type="checkbox" class="" ng-model="approximativeModel" /></div>

    <!--<div class="input-group-addon alert-warning" ng-if="model != originModel"><i class="fa fa-lg fa-pencil"></i></div>-->
  </div>
  <div ng-show="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
  </div>
</div>
