<div class="form-group">
  <label ng-if="label != undefined" class="label-control">{{label}}</label>
  <div class="form-group" ng-repeat="(key, value) in model track by key" ng-init="locked=true">
    <div class="input-group" ng-show="value">
      <div class="input-group-addon">
        <i class="fa fa-lg fa-{{icon}}"></i>{{iconText}}
      </div>
      <input type="text" class="form-control" ng-model="value" ng-readonly="locked"/>
      <div class="input-group-addon" ng-show="!uDisabled">
        <a href="" ng-show="!locked" ng-click="modifyValue(key, value); locked=true"><i class="fa fa-lg fa-unlock"></i></a>
        <a href="" ng-show="locked" ng-click="locked=false"><i class="fa fa-lg fa-lock"></i></a>
      </div>
      <div class="input-group-addon alert-danger" ng-show="!uDisabled">
        <a href="" ng-click="deleteValue(key)"><i class="fa fa-lg fa-close"></i></a>
      </div>
    </div>
  </div>
  <div class="input-group" ng-show="!uDisabled">
    <div class="input-group-addon">
      <i class="fa fa-lg fa-{{icon}}"></i>{{iconText}}
    </div>
    <input
      type="text"
      class="form-control"
      ng-model="new_value"
      ng-blur="addValue()"
      required
      placeholder="{{placeholder}}"
      ng-enter="addValue()"/>
  </div>
  <div ng-show="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
  </div>
</div>
