<div class="col-sm-12">
  <label ng-if="photoLabel != undefined" class="label-control">{{photoLabel}}</label>
  <div class="col-sm-12">
    <span ng-show="!photoDisabled">
      <div ng-show="takePhoto">
        <a class="btn btn-primary" href="" ng-click="showCamera()">
          Prendre une nouvelle photo
        </a>
      </div>

      <!-- uploader -->
      <span ng-show="uploadPhoto">
        <upload-file-directive uploader="uploader" upload_in_progress="photoInProgress"
                               max="1" mimes="['image/jpeg', 'image/png', 'image/jpg']"
                               hide-buttons="true">
        </upload-file-directive>
        <!-- small photo with close button -->
        <div class="col-sm-12">
          <img ng-src="{{api_url}}{{photo._links.data}}"
               ng-show="photoOrigin.id != photo.id"
               style="border: 2px solid orange; max-width: 100%; max-height: 50px; height: auto;"
               ng-click="loadPhoto()" />
          <img ng-src="{{api_url}}{{photo._links.data}}"
               ng-show="photoOrigin.id == photo.id"
               style="max-width: 100%; max-height: 50px; height: auto;"
               ng-click="loadPhoto()" />
          <span class="btn btn-primary" ng-click="closedPhoto()" ng-show="photo.id">Fermer</span>
        </div>
      </span>
    </span>

    <!-- canvas to edit photo -->
    <edit-photo-directive file="photoToModify" generated-file="photoFile"
                          cancel="cancelEditPhoto" ng-show="modifyPhoto"
                          refresh="refreshCanvas">
    </edit-photo-directive>

    <!-- big photo -->
    <span ng-show="photoDisabled || (!takePhoto && !uploadPhoto && !modifyPhoto)">
      <img ng-src="{{api_url}}{{photo._links.data}}"
           ng-show="photoOrigin.id != photo.id"
           style="border: 2px solid orange; max-width: 100%; max-height: 300px; height: auto;"
           ng-click="loadPhoto()" />
      <img ng-src="{{api_url}}{{photo._links.data}}"
           ng-show="photoOrigin.id == photo.id"
           style="max-width: 100%; max-height: 300px; height: auto;"
           ng-click="loadPhoto()" />
      <div ng-disabled="!photo.id" class="input-group-addon alert-warning"
           ng-if="photo.id != photoOrigin.id"><i class="fa fa-lg fa-pencil"></i></div>
    </span>
    <br />
    <span class="btn btn-danger" ng-click="deletePhoto()" ng-show="photo.id && !takePhoto && !modifyPhoto && !photoDisabled">Supprimer la photo</span>
  </div>

  <div ng-show="photoError" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{photoError}}
  </div>
</div>
