<div class="form-group" style="z-index: 1;" ng-hide="formHide">
  <label ng-if="formLabel != undefined" class="label-control" for="{{formName}}" aria-labelledby="{{formLabelledBy}}">{{formLabel}}</label>
  <div class="input-group">
    <div class="input-group-addon">
      <span ng-show="extendIcon">&nbsp;</span>
      <span class="fa fa-lg fa-{{formIcon}}"></span>
      <span ng-show="extendIcon">&nbsp;</span>
    </div>
    <input style="z-index: 1;" type="{{type}}" id="{{formName}}" class="form-control" ng-model="formNgModel" ng-blur="onBlur()"
           required placeholder="{{formPlaceholder}}" name="{{formName}}" ng-readonly="formDisabled"
           maxlength="{{maxlength}}" ng-attr-autofocus="{{autofocusEnabled}}"/>
    <div class="input-group-addon alert-warning" ng-if="formNgModel != formOrigin">
      <span class="fa fa-lg fa-pencil"></span>
    </div>
  </div>

  <div ng-show="formError" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{formError}}
  </div>
</div>
