<div class="col-sm-12">
  <div class="modal-body">
    <date-text-input-directive
      label="'Date de fin de validité *'"
      active="true"
      model="fin_validite"
      origin_model="fin_validite"
      error=""
      approximative="false">
    </date-text-input-directive>
  </div>

  <div class="alert alert-block alert-danger" ng-if="_error">{{_error}}</div>
</div>

<div class="modal-footer">
  <a class="btn btn-primary button-confirm" ng-disabled="_error" ng-click="ok()">Valider</a>
  <a class="btn btn-default button-cancel" ng-click="cancel()">Annuler</a>
</div>
