<div class="actionbar container affix">
    <div class="row">
        <div class="col-md-2">
            <navigationbar-directive></navigationbar-directive>
        </div>
        <div class="col-md-10">
          <div class="buttonbar">
          </div>
        </div>
    </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
    </div>
    <div class="col-md-10 right-content">
      <div class="container-fluid">

        <div class="row-fluid">
          <a style="display:block; cursor:pointer;"
             href="#/indicateurs-pilotage/charge-spa"
             ng-show="false">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Charge des SPA</span>
                </div>
              </div>
            </div>
          </a>

          <a style="display:block; cursor:pointer;"
             href="#/indicateurs-pilotage/charge-gu"
             ng-show="false">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Charge des GU</span>
                </div>
              </div>
            </div>
          </a>

          <a style="display:block; cursor:pointer;"
             href="#/indicateurs-pilotage/transferts"
             ng-show="false">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Flux de transferts<br />entre préfectures</span>
                </div>
              </div>
            </div>
          </a>

          <a style="display:block; cursor:pointer;"
             href="#/indicateurs-pilotage/prestation-spa"
             ng-show="false">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Qualité Prestation<br />SPA</span>
                </div>
              </div>
            </div>
          </a>

          <a style="display:block; cursor:pointer;"
             href="#/indicateurs-pilotage/indicateurs">
            <div class="col-md-3">
              <div class="thumbnail block-accueil">
                <i class="fa fa-5x fa-file-excel-o icon-accueil"></i>
                <hr />
                <div class="caption">
                  <span class="title-accueil">Indicateurs</span>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
