<style>
  table {
    width: 100%;
  }
  table, tr, th {
    padding: 3px;
  }
  .t-head {
    background-color: #a0a0ff;
  }
  thead th, td {
    text-align: center;
  }
  .t-site {
    width: 300px;
  }
  .stripe-0 {
    background-color: #f0f0f0;
  }
  .stripe-1 {
    background-color: #e0e0e0;
  }
  .stripe-white {
    background-color: white;
  }
</style>

<div class="actionbar container affix">
    <div class="row">
        <div class="col-md-2">
            <navigationbar-directive></navigationbar-directive>
        </div>
        <div class="col-md-10">
          <div class="buttonbar">
            <sc-button class="btn btn-primary pull-right"
                       ng-if="user.role!='GESTIONNAIRE_ASILE_PREFECTURE'"
                       ng-disabled="!allowChart"
                       ng-click="load()"
                       wait-for-class="fa fa-spinner fa-1 fa-pulse"
                       cancel-wait-for="chartDone"
                       label="'Générer les tableaux'">
            </sc-button>
            <sc-button class="btn btn-primary pull-right"
                       ng-if="user.role=='GESTIONNAIRE_ASILE_PREFECTURE'"
                       ng-disabled="!allowChart"
                       ng-click="loadOnlyActivityAsile()"
                       wait-for-class="fa fa-spinner fa-1 fa-pulse"
                       cancel-wait-for="chartDone"
                       label="'Générer le tableau'">
            </sc-button>
          </div>
        </div>
    </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">

      <div>
        <div>
          <label class="label-control">Date</label>
        </div>
        <div>
          <label class="label-control">mois</label>
          <select ng-model="month">
            <option value="01">janvier</option>
            <option value="02">février</option>
            <option value="03">mars</option>
            <option value="04">avril</option>
            <option value="05">mai</option>
            <option value="06">juin</option>
            <option value="07">juillet</option>
            <option value="08">août</option>
            <option value="09">septembre</option>
            <option value="10">octobre</option>
            <option value="11">novembre</option>
            <option value="12">décembre</option>
          </select>
          <label class="label-control">année</label>
          <input type="text" maxlength="4" size="4" ng-model="year">
        </div>
        <ul ng-show="date_errors.length" class="alert alert-danger">
          <li ng-repeat="error in date_errors" style="margin-left: 1em;">
            {{error}}
          </li>
        </ul>
      </div>

      <div class="panel-group" id="indicateurs" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary" ng-if="user.role!='GESTIONNAIRE_ASILE_PREFECTURE'">
          <div class="panel-heading" role="tab" id="headingStatsGU">
            <h4 class="panel-title">
              <a href="" role="button" class="collapsed" data-toggle="collapse"
                 data-target=".collapseStatsGU" ng-click="collapse('collapseStatsGU')">
                <i ng-class="{'fa fa-angle-up': collapseStatsGU, 'fa fa-angle-down': !collapseStatsGU}"></i>
                Statistiques Guichet Unique
              </a>
            </h4>
          </div>
          <div class="collapseStatsGU panel-collapse collapse"
               role="tabpanel" aria-labelledby="headingStatsGU">
            <div class="panel-body">
              <a class="btn btn-success"
                ng-disabled="!allowExport"
                ng-click="createCSV('GU')"
                style="margin-bottom: 5px;">
                Générer le CSV
              </a>
              <table border="1">
                <thead>
                  <tr>
                    <th rowspan="2" class="t-site"></th>
                    <th rowspan="2" class="t-head">
                      Nombre de rendez-vous ouverts par le GUDA
                    </th>
                    <th rowspan="2" class="t-head">
                      Nombre de créneaux de rendez-vous ayant été attribués suite à une prise de rendez-vous
                    </th>
                    <th rowspan="2" class="t-head">
                      Nombre de créneaux de rendez-vous attribué ayant donné lieu à un rendez-vous honoré
                    </th>
                    <th rowspan="2" class="t-head">
                      Délai de rendez-vous au guichet unique (moyenne mensuelle en jours)
                    </th>
                    <th colspan="3" class="t-head">
                      Nombre d'attestations de demande d'asile délivrées
                    </th>
                    <th rowspan="2" class="t-head">
                      Nombre de refus de prise d'empreintes ou inexploitables
                    </th>
                  </tr>
                  <tr>
                    <th class="t-head">Procédure normale</th>
                    <th class="t-head">Procédure accélérée</th>
                    <th class="t-head">Procédure "Dublin"</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="gu in gus" class="stripe-{{$index%2}}">
                    <th nowrap>{{gu.libelle}}</th>
                    <td>{{gu.creneaux_ouverts}}</td>
                    <td>{{gu.creneaux_rdv}}</td>
                    <td>{{gu.creneaux_honores}}</td>
                    <td>{{gu.delai_rdv | number: 1}}</td>
                    <td>{{gu.procedure_normale}}</td>
                    <td>{{gu.procedure_acceleree}}</td>
                    <td>{{gu.procedure_dublin}}</td>
                    <td>{{gu.echec_prise_empreinte}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{total_gus.creneaux_ouverts}}</td>
                    <td>{{total_gus.creneaux_rdv}}</td>
                    <td>{{total_gus.creneaux_honores}}</td>
                    <td>N/A</td>
                    <td>{{total_gus.procedure_normale}}</td>
                    <td>{{total_gus.procedure_acceleree}}</td>
                    <td>{{total_gus.procedure_dublin}}</td>
                    <td>{{total_gus.echec_prise_empreinte}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-primary" ng-if="user.role!='GESTIONNAIRE_ASILE_PREFECTURE'">
          <div class="panel-heading" role="tab" id="headingStatsRDVSPA">
            <h4 class="panel-title">
              <a href="" role="button" class="collapsed" data-toggle="collapse"
                 data-target=".collapseStatsRDVSPA" ng-click="collapse('collapseStatsRDVSPA')">
                <i ng-class="{'fa fa-angle-up': collapseStatsRDVSPA, 'fa fa-angle-down': !collapseStatsRDVSPA}"></i>
                Nombre de rendez-vous pris par chaque SPA pour un GU
              </a>
            </h4>
          </div>
          <div class="collapseStatsRDVSPA panel-collapse collapse"
               role="tabpanel" aria-labelledby="headingStatsRDVSPA">
            <div class="panel-body">
              <a class="btn btn-success"
                ng-disabled="!allowExport"
                ng-click="createCSV('RDV_SPA_GU')"
                style="margin-bottom: 5px;">
                Générer le CSV
              </a>
              <table border="1">
                <thead>
                  <tr>
                    <th class="t-site">GU \ SPA</th>
                    <th ng-repeat="spa in spas" class="t-head">
                      {{spa.libelle}}
                    </th>
                    <td class="t-site">
                      Total RDV
                    </td>
                    <td class="t-site">
                      Total RDV reçus hors département
                    </td>
                    <td class="t-site">
                      % RDV reçus hors département
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="gu in gus" class="stripe-{{$index%2}}">
                    <th nowrap>{{gu.libelle}}</th>
                    <td ng-repeat="spa in spas">{{rdv_spa_gu[gu.id][spa.id] ? rdv_spa_gu[gu.id][spa.id] : 0}}</td>
                    <td class="stripe-white">{{rdv_spa_gu[gu.id].total ? rdv_spa_gu[gu.id].total : 0}}</td>
                    <td class="stripe-white">{{rdv_spa_gu[gu.id].total_hdpt ? rdv_spa_gu[gu.id].total_hdpt : 0}}</td>
                    <td class="stripe-white">{{rdv_spa_gu[gu.id].percent_hdpt ? rdv_spa_gu[gu.id].percent_hdpt : 0 | number: 1}}</td>
                  </tr>
                  <tr>
                    <td>Total RDV</td>
                    <td ng-repeat="spa in spas">{{rdv_spa_gu[spa.id].total ? rdv_spa_gu[spa.id].total : 0}}</td>
                  </tr>
                  <tr>
                    <td>Total RDV fixés hors département par SPA</td>
                    <td ng-repeat="spa in spas">{{rdv_spa_gu[spa.id].total_hdpt ? rdv_spa_gu[spa.id].total_hdpt : 0}}</td>
                  </tr>
                  <tr>
                    <td>% RDV fixés hors département par SPA</td>
                    <td ng-repeat="spa in spas">{{rdv_spa_gu[spa.id].percent_hdpt ? rdv_spa_gu[spa.id].percent_hdpt : 0 | number: 1}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingActivityAsile">
            <h4 class="panel-title">
              <a href="" role="button" class="collapsed" data-toggle="collapse"
                 data-target=".collapseActivityAsile" ng-click="collapse('collapseActivityAsile')">
                <i ng-class="{'fa fa-angle-up': collapseActivityAsile, 'fa fa-angle-down': !collapseActivityAsile}"></i>
                Activité Asile
              </a>
            </h4>
          </div>
          <div class="collapseActivityAsile panel-collapse collapse"
               role="tabpanel" aria-labelledby="headingActivityAsile">
            <div class="panel-body">
              <a class="btn btn-success"
                 ng-disabled="!allowExport"
                 ng-click="createCSV('PREF')"
                 style="margin-bottom: 5px;">
                Générer le CSV
              </a>
              <table border="1">
                <thead>
                  <tr>
                    <th rowspan="2" class="t-site"></th>
                    <th colspan="3" class="t-head">
                      Nombre d'attestations de premier renouvellement
                    </th>
                    <th rowspan="2" class="t-head">
                      Nombre d'attestations de renouvellement ultérieur au premier renouvellement
                    </th>
                  </tr>
                <tr>
                  <th class="t-head">procédure normale (9 mois)</th>
                  <th class="t-head">procédure accélérée (6 mois)</th>
                  <th class="t-head">procédure dublin (4 mois)</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="pref in prefs" class="stripe-{{$index%2}}">
                    <th nowrap>{{pref.libelle}}</th>
                    <td>{{pref.procedure_normale}}</td>
                    <td>{{pref.procedure_acceleree}}</td>
                    <td>{{pref.procedure_dublin}}</td>
                    <td>{{pref.en_renouvellement}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{total_prefs.procedure_normale}}</td>
                    <td>{{total_prefs.procedure_acceleree}}</td>
                    <td>{{total_prefs.procedure_dublin}}</td>
                    <td>{{total_prefs.en_renouvellement}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-primary" ng-if="user.role!='GESTIONNAIRE_ASILE_PREFECTURE'">
          <div class="panel-heading" role="tab" id="headingFonctStructAcc">
            <h4 class="panel-title">
              <a href="" role="button" class="collapsed" data-toggle="collapse"
                 data-target=".collapseFonctStructAcc" ng-click="collapse('collapseFonctStructAcc')">
                <i ng-class="{'fa fa-angle-up': collapseFonctStructAcc, 'fa fa-angle-down': !collapseFonctStructAcc}"></i>
                Fonctionnement des structures d'accueil des demandeurs d'asile (SPA)
              </a>
            </h4>
          </div>
          <div class="collapseFonctStructAcc panel-collapse collapse"
               role="tabpanel" aria-labelledby="headingFonctStructAcc">
            <div class="panel-body">
              <a class="btn btn-success"
                 ng-disabled="!allowExport"
                 href=""
                 ng-click="createCSV('SPA')"
                 style="margin-bottom: 5px;">
                Générer le CSV
              </a>

              <table border="1">
                <thead>
                  <tr>
                    <th rowspan="2" class="t-site"></th>
                    <th colspan="2" class="t-head">
                      Capacité journalière d'accueil constatée en première demande d'asile
                    </th>
                  </tr>
                  <tr>
                    <th class="t-head">mini</th>
                    <th class="t-head">maxi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="spa in spas" class="stripe-{{$index%2}}">
                    <th nowrap>{{spa.libelle}}</th>
                    <td>{{spa.capacite_min}}</td>
                    <td>{{spa.capacite_max}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
