<div class="modal-body">
  <select-referential-directive
    model_listener="row"
    label="'Pays'"
    model="row.pays"
    libelles="libelles"
    ref_disabled="uDisabled"
    icon="'map-marker'"
    error_model="row._errors.pays"
    url="'referentiels/pays'"
    placeholder="''">
  </select-referential-directive>

  <date-text-input-directive
    label="'Date d\'entrée'"
    active="true"
    model="row.date_entree"
    origin_model="origin_row.date_entree"
    error="row._errors.date_entree"
    approximative="true"
    approximative_model="row.date_entree_approximative">
  </date-text-input-directive>

  <date-text-input-directive
    label="'Date de sortie'"
    active="true"
    model="row.date_sortie"
    origin_model="origin_row.date_sortie"
    error="row._errors.date_sortie"
    approximative="true"
    approximative_model="row.date_sortie_approximative">
  </date-text-input-directive>

  <simple-text-input-directive
    form_label="'Moyen de transport'"
    form_ng_model="row.moyen_transport"
    form_placeholder="''"
    form_origin="origin_row.moyen_transport"
    form_error="row._errors.moyen_transport ">
  </simple-text-input-directive>

  <simple-text-input-directive
    form_label="'Condition de franchissement des frontières'"
    form_ng_model="row.condition_franchissement"
    form_placeholder="''"
    form_origin="origin_row.condition_franchissement"
    form_error="row._errors.condition_franchissement">
  </simple-text-input-directive>
</div>

<div class="modal-footer">
  <a class="btn btn-primary button-confirm" ng-click="valid()" ng-show="!error">Valider</a>
  <a class="btn btn-default button-cancel" ng-click="cancel()">Annuler</a>
</div>
