<div class="modal-body">
  <h2 align="center">Mot de passe oublié ?</h2>
  <hr />
  <p align="justify">
    Entrez votre adresse de courriel dans le champs ci-dessous.
  </p>
  <p align="justify">
    Une fois le formulaire soumis, vous recevrez un courriel vous demandant de valider cette demande de récupération de mot de passe.
    Ce courriel contiendra aussi un lien sur lequel vous devrez cliquer pour définir votre nouveau mot de passe.
  </p><br />

  <form class="simple-form" novalidate name="recoveryPWDForm" ng-submit="setPWD()">

    <div class="form-group" ng-class="{'has-error': recoveryPWDForm.email.$invalid && !recoveryPWDForm.$pristine}">
      <div class="input-group">
        <label class="input-group-addon" for="email">Email</label>
        <input type="email" class="form-control" ng-readonly="pwdGenerated" id="email" name="email" autocomplete="off"
               ng-model="email" required>
      </div>
      <span ng-show="recoveryPWDForm.email.$error.required"
            class="help-block">Champ requis</span>
      <span ng-show="recoveryPWDForm.email.$error.email"
            class="help-block">Entrez un email valide</span>
    </div>

    <p align="justify" ng-show="pwdGenerated">
      Un courriel a été envoyé à l'adresse suivante: {{email}}
    </p>

    <div class="form-group" align="center">
        <input class="btn btn-primary button-confirm" ng-show="!pwdGenerated" type="submit" value="Demander un nouveau mot de passe">
        <input class="btn btn-primary button-confirm" ng-show="pwdGenerated" ng-click="cancel()" value="Fermer">
    </div>
  </form>
</div>
