<div class="actionbar container affix">
  <div class="row">
    <div class="col-md-2">
      <navigationbar-directive></navigationbar-directive>
    </div>
    <div class="col-md-10">
      <div class="buttonbar" ng-init="haveFilters = false">
        <a class="btn btn-primary pull-right" ng-show="!avancedFilters"
           ng-click="avancedFilters = true">
          <i class="glyphicon glyphicon-filter" ng-show="haveFilters"></i>
          <strong>Afficher la recherche avancée</strong>
        </a>
        <a class="btn btn-primary pull-right" ng-show="avancedFilters"
           ng-click="avancedFilters = false"><strong>Cacher la recherche avancée</strong></a>
        <a class="btn btn-primary pull-right" ng-click="cloturer()"
           ng-show="PERMISSIONS[user.role].indexOf('modifier_da') != -1 && others.cloturerAllowed">
          <strong>Clôturer les demandes d'asile sélectionnées</strong>
        </a>
        <sc-button class="btn btn-primary pull-right"
                   style="font-weight: bold;"
                   ng-click="pdf()"
                   wait-for-class="fa fa-spinner fa-1 fa-pulse"
                   cancel-wait-for="pdfDone"
                   label="'Extraire les décisions définitives'"
                   label-class="strong"
                   ng-show="others.extractAllowed">
        </sc-button>
      </div>
    </div>
  </div>
</div>
<div resizable-directive ng-style="{ 'margin-top': marginTop }" class="clearfix"></div>

<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content">
      <div class="list-group sidebar panel-group">

        <a class="list-group-item {{intro_ofpra_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_ATTENTE_INTRODUCTION_OFPRA">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"></span>
          En attente d'introduction OFPRA<span class="badge">{{intro_ofpra_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : intro_ofpra_active || intro_ofpra_reprise_active }" id="intro_ofpra_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{intro_ofpra_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_ATTENTE_INTRODUCTION_OFPRA_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{intro_ofpra_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{proc_dublin_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_PROCEDURE_DUBLIN">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"></span>
          En cours de procédure DUBLIN<span class="badge">{{proc_dublin_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : proc_dublin_active || proc_dublin_reprise_active }" id="proc_dublin_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{proc_dublin_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_PROCEDURE_DUBLIN_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{proc_dublin_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{instruction_ofpra_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_INSTRUCTION_OFPRA">
          <span class="fa fa-arrow-down"></span>
          En cours d'instruction OFPRA<span class="badge">{{instruction_ofpra_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : instruction_ofpra_active || instruction_ofpra_reprise_active || instruction_ofpra_requalif_active || instruction_ofpra_requalif_reprise_active }" id="instruction_ofpra">
          <div class="list-group">
            <a class="list-group-item {{instruction_ofpra_reprise_active}}"
               href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_INSTRUCTION_OFPRA_REPRISE"
               ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              Dossiers repris-stock DNA<span class="badge">{{instruction_ofpra_reprise_nbr}}</span>
            </a>
            <a class="list-group-item {{instruction_ofpra_requalif_active}}"
               href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_INSTRUCTION_OFPRA_REQUALIFICATION">
              <span class="fa fa-arrow-down"
                    ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"></span>
              Requalification OFPRA<span class="badge">{{instruction_ofpra_requalif_nbr}}</span>
            </a>
            <div class="panel-collapse collapse col-sm-12"
                 ng-class="{ 'in' : instruction_ofpra_requalif_active || instruction_ofpra_requalif_reprise_active }"
                 id="instruction_ofpra_requalif_reprise"
                 ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              <div class="list-group">
                <a class="list-group-item {{instruction_ofpra_requalif_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=EN_COURS_INSTRUCTION_OFPRA_REQUALIFICATION_REPRISE">
                  Dossiers repris-stock DNA<span class="badge">{{instruction_ofpra_requalif_reprise_nbr}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <a class="list-group-item {{decision_def_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE">
          <span class="fa fa-arrow-down"></span>
          Décision définitive<span class="badge">{{decision_def_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12"
             ng-class="{ 'in' : decision_def_active || decision_def_reprise_active || decision_def_refus_active || decision_def_accord_active || decision_def_accord_reprise_active || decision_def_refus_reprise_active }" id="decision_def">
          <div class="list-group">
            <a class="list-group-item {{decision_def_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE_REPRISE" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              Dossiers repris-stock DNA<span class="badge">{{decision_def_reprise_nbr}}</span>
            </a>
            <a class="list-group-item {{decision_def_accord_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE_ACCORD">
              <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
              Décision définitive d'accord<span class="badge">{{decision_def_accord_nbr}}</span>
            </a>
            <div class="panel-collapse collapse col-sm-12"
                 ng-class="{ 'in' : decision_def_accord_active || decision_def_accord_reprise_active }"
                 id="decision_def_accord_reprise"
                 ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              <div class="list-group">
                <a class="list-group-item {{decision_def_accord_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE_ACCORD_REPRISE">
                  Dossiers repris-stock DNA<span class="badge">{{decision_def_accord_reprise_nbr}}</span>
                </a>
              </div>
            </div>
            <a class="list-group-item {{decision_def_refus_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE_REFUS">
              <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
              Décision définitive de refus<span class="badge">{{decision_def_refus_nbr}}</span>
            </a>
            <div class="panel-collapse collapse col-sm-12"
                 ng-class="{ 'in' : decision_def_refus_active || decision_def_refus_reprise_active }"
                 id="decision_def_refus_reprise"
                 ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              <div class="list-group">
                <a class="list-group-item {{decision_def_refus_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=DECISION_DEFINITIVE_REFUS_REPRISE">
                  Dossiers repris-stock DNA<span class="badge">{{decision_def_refus_reprise_nbr}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <a class="list-group-item {{fin_proc_dublin_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_DUBLIN">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"></span>
          Fin de procédure DUBLIN<span class="badge">{{fin_proc_dublin_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : fin_proc_dublin_active || fin_proc_dublin_reprise_active }" id="fin_proc_dublin_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{fin_proc_dublin_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_DUBLIN_REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{fin_proc_dublin_reprise_nbr}}</span>
            </a>
          </div>
        </div>

        <a class="list-group-item {{fin_proc_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE">
          <span class="fa fa-arrow-down"></span>
          Décision définitive traitée<span class="badge">{{fin_proc_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12"
             ng-class="{ 'in' : fin_proc_active || fin_proc_reprise_active || fin_proc_accord_active || fin_proc_refus_active || fin_proc_accord_reprise_active || fin_proc_refus_reprise_active }"
             id="fin_proc">
          <div class="list-group">
            <a class="list-group-item {{fin_proc_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_REPRISE" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              Dossiers repris-stock DNA<span class="badge">{{fin_proc_reprise_nbr}}</span>
            </a>
            <a class="list-group-item {{fin_proc_accord_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_ACCORD">
              <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"></span>
              Décision définitive d'accord traitée<span class="badge">{{fin_proc_accord_nbr}}</span>
            </a>
            <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : fin_proc_accord_active || fin_proc_accord_reprise_active }" id="fin_proc_accord_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              <div class="list-group">
                <a class="list-group-item {{fin_proc_accord_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_ACCORD_REPRISE">
                  Dossiers repris-stock DNA<span class="badge">{{fin_proc_accord_reprise_nbr}}</span>
                </a>
              </div>
            </div>
            <a class="list-group-item {{fin_proc_refus_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_REFUS" data-toggle="collapse" data-target="#fin_proc_refus_reprise">
              <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
              Décision définitive de refus traitée<span class="badge">{{fin_proc_refus_nbr}}</span>
            </a>
            <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : fin_proc_refus_active || fin_proc_refus_reprise_active }" id="fin_proc_refus_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
              <div class="list-group">
                <a class="list-group-item {{fin_proc_refus_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : ''}}statut=FIN_PROCEDURE_REFUS_REPRISE">
                  Dossiers repris-stock DNA<span class="badge">{{fin_proc_refus_reprise_nbr}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <a class="list-group-item {{all_active}}" href="#/demandes-asiles{{toggle.overall ? '?overall' : ''}}">
          <span class="fa fa-arrow-down" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'"> </span>
          Toutes les demandes d'asile<span class="badge">{{all_nbr}}</span>
        </a>
        <div class="panel-collapse collapse col-sm-12" ng-class="{ 'in' : all_active || all_reprise_active }" id="all_reprise" ng-show="user.role == 'SUPPORT_NATIONAL' || user.role == 'GESTIONNAIRE_NATIONAL'">
          <div class="list-group">
            <a class="list-group-item {{all_reprise_active}}" href="#/demandes-asiles?{{toggle.overall ? 'overall&' : '?'}}statut=REPRISE">
              Dossiers repris-stock DNA<span class="badge">{{all_reprise_nbr}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10 right-content">
      <div class="container">

        <div solr-filters-directive lookup="lookup" json="demande_asile" avanced-filters="avancedFilters" have-filters="haveFilters"></div>

        <div class="pull-right space-bottom">
          <span toggle-switch-directive ng-if="toggle.show"
            ng-model="toggle.overall"
            left-label="{{toggle.left_label}}"
            knob-label="Vue"
            right-label="{{toggle.right_label}}"
            switch-size="small"
            left-label-color="#337ab7"
            right-label-color="#4cae4c">
          </span>
        </div>

        <list-resource-directive resource-backend="resourceBackend" complement="toggle.overall"
                                 custom_update_resources_list="updateResourcesList" lookup="lookup"
                                 links="links" others="others">
          <div class="well-list" ng-mouseover="showPopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/demandes-asiles/{{resource.id}}{{complement ? '?overall' : ''}}">
                <i class="fa fa-4x fa-file-o"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a href="#/demandes-asiles/{{resource.id}}{{complement ? '?overall' : ''}}">
                    Demande d'asile n°{{resource.id}}
                  </a>
                  <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.droit_spinner"></span>
                  <span class="btn btn-danger btn-xs" style="color: white;"
                        ng-show="resource.fin_validite">Droit expiré</span>
                  <span class="btn btn-danger btn-xs" style="color: white;"
                        ng-show="resource.absence_decision">Absence décision définitive</span>
                </strong>
                <span class="pull-right">
                  <input type="checkbox"
                         ng-model="selected[resource.id]"
                         ng-click="select(resource.id)"
                         ng-show="cloturerAllowed && !submitted" />
                  <span class="fa fa-spinner fa-1 fa-pulse" ng-show="requesting[resource.id]"></span>
                  <span class="fa fa-check fa-1" ng-show="worked[resource.id]"></span>
                  <span class="fa fa-times fa-1" ng-show="failed[resource.id]"></span>
                </span>
              </div>
              <div class="col-sm-12">
                <strong>
                  {{resource.usager.prenoms[0]}} {{resource.usager.nom}}
                </strong>
              </div>
              <div class="col-sm-12">
                {{(TYPE_DEMANDE | filter: {id: resource.type_demande})[0].libelle}}
              </div>
              <div class="col-sm-12">
                {{resource.procedure.type}}
              </div>
            </div>
          </div>
          <div class="popover-list" ng-show="popoverIsVisible[resource.id]" ng-mouseleave="hidePopover(resource.id)">
            <div class="col-xs-2">
              <a href="#/demandes-asiles/{{resource.id}}{{complement ? '?overall' : ''}}">
                <i class="fa fa-4x fa-file-o"></i>
              </a>
            </div>
            <div class="col-xs-10">
              <div class="col-sm-12">
                <strong>
                  <a href="#/demandes-asiles/{{resource.id}}{{complement ? '?overall' : ''}}">
                    Demande d'asile n°{{resource.id}}
                  </a>
                  <span class="fa fa-spinner fa-1 fa-pulse" ng-show="resource.droit_spinner"></span>
                  <span class="btn btn-danger btn-xs" style="color: white;"
                        ng-show="resource.fin_validite">Droit expiré</span>
                  <span class="btn btn-danger btn-xs" style="color: white;"
                        ng-show="resource.absence_decision">Absence décision définitive</span>
                </strong>
                <span class="pull-right">
                  <input type="checkbox"
                         ng-model="selected[resource.id]"
                         ng-click="select(resource.id)"
                         ng-show="cloturerAllowed && !submitted" />
                  <span class="fa fa-spinner fa-1 fa-pulse" ng-show="requesting[resource.id]"></span>
                  <span class="fa fa-check fa-1" ng-show="worked[resource.id]"></span>
                  <span class="fa fa-times fa-1" ng-show="failed[resource.id]"></span>
                </span>
              </div>
              <div class="col-sm-12">
                <strong>
                  {{resource.usager.prenoms[0]}} {{resource.usager.nom}}
                </strong>
              </div>
              <div class="col-sm-12">
                {{(TYPE_DEMANDE | filter: {id: resource.type_demande})[0].libelle}}
              </div>
              <div class="col-sm-12">
                {{resource.procedure.type}}
              </div>
            </div>
          </div>
        </list-resource-directive>
      </div>
    </div>
  </div>
</div>
