<div class="modal-body" ng-if="action == 'save'">
  Vous allez enregistrer le recueil en tant que brouillon.
  <br />
  Vous pourrez reprendre vos modifications plus tard.
</div>

<div class="modal-body" ng-if="action == 'validate'">
  Vous allez prendre un rendez-vous pour ce recueil de demande d'asile.
  <br />
  <strong>Une fois votre rendez-vous pris, vous ne pourrez plus modifier ce recueil de demande d'asile.</strong>
</div>

<div class="modal-footer">
  <a class="btn btn-primary button-confirm" ng-click="ok()">Valider</a>
  <a class="btn btn-default button-cancel" ng-click="cancel()">Annuler</a>
</div>
