
<div class="content container">
  <div class="row">
    <div class="col-md-2 left-content"></div>
    <div class="col-md-10 right-content">
      <div class="container col-sm-12" style="margin-top: 10px;">

        <div class="clearfix"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="toPrint">

          <div ng-if="recueil_da.usager_1 && recueil_da.usager_1.demandeur">
            <convocation-directive
              site="site"
              usager="recueil_da.usager_1"
              api_url="api_url"
              date_convocation="dateConvocation"
              current_site="currentSite"
              today="today"
              spa="spa">
            </convocation-directive>
          </div>
          <div ng-if="recueil_da.usager_2 && recueil_da.usager_2.demandeur">
            <convocation-directive
              site="site"
              usager="recueil_da.usager_2"
              api_url="api_url"
              date_convocation="dateConvocation"
              current_site="currentSite"
              today="today"
              spa="spa">
            </convocation-directive>
          </div>

          <div ng-repeat="enfant in recueil_da.enfants">
            <div ng-if="enfant && enfant.demandeur">
              <convocation-directive
                site="site"
                usager="enfant"
                api_url="api_url"
                date_convocation="dateConvocation"
                current_site="currentSite"
                today="today"
                spa="spa">
              </convocation-directive>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
